mixin calculator-section-title(title, order, floorsCount, isOpened)
  -
    var floorsMarkup = '';
    if(floorsCount){
      [...Array(floorsCount).keys()].forEach((i) => {
        return floorsMarkup += `<span class="calculator-section__floor-control ${i == 0 ? 'is-active' : ''}"> ${i + 1}й этаж: </span>`;
      });
    }
  .calculator-section__upper
    p.calculator-section__header.text-line-through.text-left.
      <span>!{order}</span><span>!{title}</span><span class="calculator-section__hide"></span>
    .calculator-section__controls.
      !{floorsMarkup}

mixin calculator-section__col(cols, event, state, eventType, type)
  -
    eventType = eventType || 'click';
    type = type || 'material';
    var attrs = {};
    attrs[type] = '';

    if(event){
      attrs['event'] = event;
    }

  each col in cols
    .calculator-section__col
      - attrs[type] = col.material || col.base;
      .panel.is-selectable(state=`${state}` event-type=`${eventType}`)&attributes(attrs)
        img(src=`img/${col.img}` alt=`${col.alt}`).panel__thumb
        p.panel__header
          span.
            !{col.header}
        - if (state == 'windows')
          .input-wrapper.input-wrapper__symbol(data-symbol="шт")
            input.input-default
