@media (max-width 1020px)
    .site-header
        min-height:485px
        position: relative
        .container
            position: relative
            z-index: 1
        &:before
            content ''
            position absolute
            width: 100%
            height: 100%
            z-index: 0
            left 0
            top 0
            background rgba(0,0,0,.25)
        &__textsection
            max-width: 100%
            text-align: center
        &__btn-wrapper
            text-align: center

    .site-sections
        margin 0 0 55px 0
        &__row
            flex-wrap: wrap
            display: none
            & div:last-child
                margin 20px 0 0 0
        .ui-col
            &__wrapper
                width: 50%
    .about-us
        margin 0 0 20px 0

    $numbers_circle_dimension = 8em
    $number_title_size = 40px
    $number_text_size = 16px

    .ui-circle, .ui-circle:after
        width $numbers_circle_dimension
        height $numbers_circle_dimension

    .ui-circle
        &__digit
            font-size $number_title_size

    .numbers
        &__col-title
            font-size $number_text_size
        &__col
            &:first-child
                padding 0
            &:nth-child(2)
                margin 20px 0 0 0
            &:last-child,
            &:first-child
                .numbers__col-inner
                    &:before
                        display: none
            &-wrapper
                &:before
                    display: none
    .advantages
        &__header
            margin: 20px 0 10px 0

        &__info
            padding 0

        &__row--left
            div:first-child
                float none
                margin 0 0 20px 0
            div:last-child
                padding: 0

        &__row--right
            div:last-child
                padding: 10px 0 30px 0

        &__thumb, &__info
            width: 100%

    .site-categories
        &__link
            padding: 10px 12px

    .projects-filter
        &__area
            min-width: 236px
        &__btn
            font-size: 16px
            margin: 40px 0 20px 0
        &__col
            &:last-child
                float none
                display: inline-block

    .projects-filter
        &__features
            margin: 10px 10px 0 10px

    .projects
        .project
            width: 50%
            &__field-icon
                display: inline-block

    .gift-wrapper
        margin 0
        padding 20px 0 35px 0
        &:before
            display none

    .gift
        &__inner
            width: 100%
            text-align: center
        &__form
            margin 20px auto 0 auto

    .calculator-section
        &__hide
            display inline-block !important
        &__header
            span
                padding 0 15px 0 0
                &:not(.calculator-section__hide)
                    padding 0 15px 0 0 !important

        &__upper
            transition opacity .3s ease
            &:hover
                opacity 0.7
                cursor pointer

        &.not-active
            .calculator-section__upper
                opacity 0.8
            .calculator-section__inner
                display none
            .calculator-section__controls
                display none
            &:hover
                .calculator-section__upper
                    cursor pointer
                    opacity 1

        &__total
            display block

        &--dimensions
            .calculator-section__col-w-field--remoteness
                margin 10px 0 0 0

        &--foundation
            .calculator-section__col
                width 33.3333%

        &--external-walls,
        &--inner-walls,
        &--roof
            .calculator-section__col
                width 33.3333%
                &:nth-child(4)
                    clear left
                &:nth-child(5)
                    clear none

        &--roof
            .calculator-section__col
                float left

        &--windows
            .calculator-section__col
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3)
                    width 50%
                &:nth-child(n+4)
                    width 33.333333%

        &--siding
            .calculator-section__inner
                &:nth-child(2)
                &:nth-child(3)
                    width: 100%
                margin: 0 -7.5px 0 -7.5px
                &:last-child
                    overflow auto
                    margin 30px 0 0 0
            .calculator-section__col
                width: 33.3333%

    .smeta
        &__description
            font-size 20px
            padding 25px 0 20px 0

        &__header
            padding 15px 0 0 0

        &__form
            .input-group
                display block
                margin 10px auto 0 auto
                max-width 380px
                &:last-child
                    margin 10px auto
                    width 100%
                    .btn
                        width 100%
                        max-width initial
    .works
        &__col
            width 50%

    .contacts
        &__address
            padding 0
        &__info
            margin 8px 0 0 0
            display block

    .feedback
        &__col
            width 50%

    .site-footer
        .text-line-through
            &:before
                display none
        &__right
            padding 20px 0 0 0
        &__left,
        &__right
            width 100%
        &__btn
            height auto
            padding 7px 12px
            margin 0 auto