@media(max-width 1140px)
    .site-sections
        .ui-col
            &__wrapper
                padding: 0 7px 0 7px
    .numbers
        &__col
            width 33.333%
            margin-left -4px
            &-wrapper
                &:before
                    display: none
                    opacity 0
            &:nth-child(2)
                margin 0

    .primary-nav
        &--mobile
            transition left .3s ease-in-out
            padding 15px 0 0 0
            position fixed
            top 0
            left 0
            width 250px
            background #fff
            z-index: 1
            height:100%
            &.is-disable
                left -100%
                opacity 1
            .primary-nav__item
                display: block
                &:not(:last-child)
                    margin 0 0 10px 0
                    &:before
                        content ''
            .primary-nav__link
                padding 5px 15px 5px 10px
                color #000000
                display: block
                font-size: 20px

    .js-nav-toggle
        display: inline-block

    .work-types
        &__inner
            flex-wrap wrap
        &__thumb
            height auto
            padding 70% 0 0 0
            background-size contain
        .ui-col
            &__wrapper
                width 50%
                margin 10px 0 0 0

    .site-categories
        margin 0 -4px 0 -4px
        &__item
            font-size: 14px
            margin 0 4px 0 4px

    .projects-filter
        &__area
            min-width: 236px
        &__btn
            font-size: 16px
            margin: 20px 0 20px 0
        &__col
            &:last-child
                float right
                display: block

    .projects
        &__container
            clear right

    .gift-wrapper
        &:before
            background: url(../img/house.png) right -200px top no-repeat

    .calculator-section
        &--dimensions
            width: 100%
            p
                text-align: left
                padding 0 10px 0 0
            .text-line-through span
                padding: 0 15px 0 0
            .calculator-section__inner
                padding 0
                text-align: left

        &--external-walls,
        &--inner-walls
            .calculator-section__col
                width: 25%
                &:last-child
                    clear none
                &:nth-child(5)
                    clear left
        &--facade,
        &--networks
            width: 100%
            clear left

        &--networks
            padding 0

        &--windows
            .calculator-section__col
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3)
                    width: 50%
                    margin 0 0 8px 0
                &:nth-child(n+4)
                    width: 20%
                    margin 0 0 8px 0
        .panel__header
           max-width: initial

    .smeta
        padding 20px 0 40px 0
        background $brandColor
        &__inner
            width: 100%
        &__description,
        &__form
            max-width initial
            float none
        &__description,
        &__header
            float none
            text-align: center
        &__form
            text-align: center
            .input-group
                width: auto
                &:last-child
                    float: none
                    display: inline-block
                    vertical-align: top
                    margin-left: 10px

    .site-footer
        .text-line-through
            &:before
                width 52%
        &__form-helper
            br
                display: none
        &__header
            font-size: 30px
        &__subheader
            font-size 20px
        &__right
            padding: 45px 0 0 12px

    .contacts
        &__info
            border 0
            padding 0
        &__address
            padding 0 50px 0 0

    .contacts-menu-nav
        &__item
            width: 50%