@media(max-width 1280px)
    .site-header
        &__textsection
            max-width: 50%
    .site-sections__row
        margin 0
    $middle_column = 35px
    .numbers
        &__col
            &:nth-child(2)
                margin 0 $middle_column 0 $middle_column
            &:last-child,
            &:first-child
                .numbers__col-inner:before
                    width: 165px
                    background-size: contain
            &:last-child
                .numbers__col-inner:before
                    left: -31%
            &:first-child
                .numbers__col-inner:before
                    right: -33%

    .primary-nav
        &__item
            &:before
                display: none
            &:not(:last-child)
                margin: 0 25px 0 0

    .ui-col
        &__title
            font-size: 17px

    .about-us
        &__text
            br
                display: none

    .site-categories
        &__item
            font-size: 16px

    .projects-filter
        &__btn
            min-width: 139px
            font-size: 15px

    .projects
        .project
            &__field
                &-title
                    font-size: 12px
                &-icon
                    display: none

    .gift-wrapper
        &:before
            background: url(../img/house.png) right -90px top no-repeat

    .calculator-section
        &--foundation
            .calculator-section__col
                width: 25%
                margin 0 0 8px 0
        &--external-walls,
        &--inner-walls
            .calculator-section__col
                width: 20%
                display: block
                float left
                margin 0 0 8px 0
                &:last-child
                    clear left
        &--roof
            padding 0
            .calculator-section__col
                margin 0 0 8px 0
                &:last-child
                    clear left
        &--warming
            .calculator-section__col
                text-align: center
                .panel
                    padding 8px 10px 12px 10px
        &--windows
            .panel__header
                max-width 190px
                overflow: hidden
                text-overflow ellipsis
                white-space nowrap
    .smeta
        background-position: -230px center
        &__header
            font-size: 44px
        &__description,
        &__form
            max-width 540px
    .site-footer
        .text-line-through
            &:before
                width 45%