@media(max-width 850px)
    body.has-fixed-header
        .primary-nav
            &--mobile
                padding 0
                width 100%
                left 0
                overflow-y auto
                &.is-disable
                    left -100%
        .site-header
            &__helmet
                position fixed
                z-index 2000
                top 0
                left 0
                width 100%
                background #fff
                box-shadow 0 0 3px #7b7a7a;

            .phone-control
                margin 5px 15px 0 0
                &__phone
                    font-size 18px
                    color #000
                &__link
                    color #7b7070
                    span
                        font-size 14px

    .site-header
        background url(../img/hero.jpg) -120px bottom no-repeat
        background-size cover

        &__controls
            margin 3px 0 0 0

    .container
        padding 0 15px

    .about-us
        display none

    .advantages
        padding 0 0 20px
        &__header
            br
                display none
        &__row
            margin 0
        &__info
            padding 0 !important
        &__header
            font-size 25px
            margin 1.2em 0 1.2em 0
        &__text
            display none
        &__thumb
            background-size contain
            height auto
            padding 32.5% 0 0 0 !important
            background-position center center
            &-1
                background-image url('../img/advantages-thumb-1_1.jpg')
            &-2
                background-image url('../img/advantages-thumb-2_1.jpg')
            &-3
                background-image url('../img/advantages-thumb-3_1.jpg')

    .projects-filter
        &__col
            margin 10px 10px 0 10px
        &__btn
            margin 30px auto 0 auto

    .site-categories
        &__item
            &:first-child
                display none
            margin 5px -4px 0 0
            padding 0 5px
            width 50%

    .projects
        .project__field-icon
            display none

    .calculator-section
        &--foundation,
        &--floor,
        &--inner-walls,
        &--overlapping,
        &--warming,
        &--roof,
        &--networks,
        &--facade,
        &--siding,
        &--windows,
        &--external-walls
            .calculator-section__col
                width 100% !important
                max-width 400px
                float none
                margin 0 0 10px 0

    .gift
        z-index 0
        padding 0 0 20px 0
        &__subheader
            display none

    .contacts
        &__left,
        &__right
            width 100%
        &__right
            padding 15px 0 0 0

    .contacts-menu-nav
        &__item
            width 33.3333%

@media(max-width 700px)
    .calculator-section
        .text-line-through
            margin 0.5em 0
        .input-wrapper__symbol,
        .input-wrapper__counter
            display block
        &--dimensions
            .calculator-section__inner
                margin 0 -5px 0 -5px
        &__col-w-field
            display block
            max-width 250px
            padding 0 5px
            &:not(:last-child)
                margin 10px 0 0 0
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
                float left
                width 33.3333%
            &:nth-child(4)
                width 40%
                float left
            &:nth-child(5)
                width 20%
                float left
                margin 43px 0 5px 0
        .calculator-section__area-total-wrapper
            float left
            display block
            max-width initial
            width 40%
        .calculator-section__area-total-wrapper
            margin 9px 0 0 0
        &__area-total
            display block
            max-width 250px
            margin 15px 5px 0 5px
        &--remoteness
            .calculator-section__col-w-field
                max-width 200px
                margin  15px 0 0 0

    .works
        &__thumb
            height 300px
        &__col
            width 100%

    .calc-table-popup
        &__print-link
            margin 50px 0 0 0
            text-align center
        &__table-wrapper
            overflow scroll

@media(max-width 650px)
    .h1
        font-size 30px
        line-height 1.3em
        margin 5px 0 0 0
        padding 0 0 70px 0

    .site-header
        padding 20px 0 90px 0
        min-height initial
        background url(../img/hero.jpg) -200px bottom no-repeat
        background-size cover
        &__btn-wrapper
            & > a , & > span
                margin 10px 0 0 0

    $number_text_size = 14px
    $numbers_circle_dimension = 7em
    $number_title_size = 30px

    .ui-circle, .ui-circle:after
        width $numbers_circle_dimension
        height $numbers_circle_dimension

    .ui-circle
        &__digit
            font-size $number_title_size

    .numbers
        &__col-title
            font-size $number_text_size
            border 0

    .text-header
        font-size 30px

    .work-types
        &__thumb
            background-position center center
        &__inner
            display block
        .ui-col
            padding 0
            &__inner
                padding 0
            &__btn
                width 100%
            &__text
                display none
            &__btn
                padding 0 10px
                position static
                overflow hidden
                text-transform capitalize
                span
                    display none
            &__wrapper
                margin 15px auto 0 auto
            &__thumb
                margin 0
            &__thumb-wrapper
                padding 0

    .advantages
        &__header
            margin 10px 0 10px 0
            font-size 18px
        &__row--left
            div:first-child
                margin 0

    .projects
        .project
            width 100%
            max-width 450px
            margin 15px auto 0 auto
            float none
        .project__field-icon
            display inline-block
        .pagination-wrapper
            margin 15px 0 0 0

    .gift
        &__header
            font-size 30px
        &__subheader
            font-size 15px

    .contacts-menu-nav
        &__item
            width 50%

    .calculator-section
        .text-line-through:before
            opacity 1
        &__upper
            &:before
                display none

        &__header,
        &__controls
            display block
        &__controls
            margin 0 0 10px 0

        &--external-walls,
        &--inner-walls,
        &--overlapping
            .calculator-section__floor-control
                display inline-block
                max-width 100px
                text-align center
                margin 2px 5px
                &:nth-child(3)
                    margin 5px 0 !important

        .calculator-section__area-total
            margin 13px 5px 0 5px
        .calculator-section__area-total
            max-width initial

@media(max-width 500px)
    .site-header
        background url(../img/hero.jpg) -350px bottom no-repeat
        background-size cover

    .projects-filter
        padding 0 10px
        &__col
            display block
            margin 10px 0 0 0
            min-width initial
            width 100%
        &__features,
        &__floors
            max-width initial
        &__bedrooms
            .panel__checkbox-row-wrapper
                margin 0
            .panel__checkbox-row
                float left
                width 20%
                margin 0
                &:nth-child(4)
                    clear none
        &__floors
            .panel
                clearfix()
            .panel__checkbox-row
                float left
                &:not(:last-child)
                    margin 0 10px 0 0
        &__btn
            min-width initial
            display block
            margin 10px auto 15px auto

    $number_text_size = 10px
    $numbers_circle_dimension = 5em
    $number_title_size = 12px

    .ui-circle, .ui-circle:after
        width $numbers_circle_dimension
        height $numbers_circle_dimension

    .ui-circle__digit
        font-size $number_title_size

    .numbers
        &__title-wrapper
            margin -20px 0 0 0
        &__col:nth-child(2)
            margin 0
        &__col-title
            font-size $number_text_size

    .site-categories
        &__link
            padding 10px 8px
            text-overflow ellipsis
            overflow hidden
            white-space nowrap
        &__item
            font-size 12px

    .projects
        .project__field-icon
            display none

    .gift
        &__header
            font-size 25px
        &__subheader
            font-size 15px
            br
                display none

    .calculator-section
        &__col-w-field,
        &__area-total
            max-width initial

        &__col-w-field:nth-child(4),
        &__col-w-field:nth-child(5),
        &__col-w-field:nth-child(6),
        .calculator-section__area-total-wrapper
            width 50%

        &__header
            span:nth-child(2)
                font-size 15px

        &--remoteness
            .calculator-section__col-w-field
                max-width initial

        &--floor
            .calculator-section__col
                display block

        &--external-walls,
        &--inner-walls,
        &--overlapping
            .calculator-section__header:before
                top 25px

        &--windows
            .input-wrapper
                max-width 90px
            .input-wrapper__symbol
                float none
                margin 10px 0 0 0

        &--networks
            .calculator-section__col
                display block
                width 100%
        &--siding
            .calculator-section__inner
                &:last-child
                    padding 0
                    display block !important
        &__main-label, &__total-price
            font-size 20px
        &__btn
            font-size 16px
            padding 8px 10px
            margin 45px auto 10px auto
            float none
            clear both
        //margin -5px 0 0 0;

    .smeta
        &__header
            font-size:30px
        &__description
            font-size:18px
        &__header
            padding 15px 0 0 0

    .works
        &__container
            padding 0

    .work-types
        .ui-col
            &__title
                font-size 12px
            &__btn
                font-size 13px

    .contacts-menu-nav
        &__item
            width 100%

    .projects
        .pagination-wrapper
            margin 30px 0 0 0

    .feedback
        &__col
            width:100%

    .site-footer
        &__btn
            float none
            margin 0 auto
            display block
            width:100%
        &__advantages
            li
                font-size:20px
        &__form
            .input-group
                &:nth-child(1),
                &:nth-child(2)
                    width 100%

@media(max-width 400px)
    $number_text_size = 9px
    $numbers_circle_dimension = 4em
    $number_title_size = 12px

    .site-sections
        margin 0 0 45px 0

    //.ui-circle
    //    border 0

    .ui-circle, .ui-circle:after
        width $numbers_circle_dimension
        height $numbers_circle_dimension

    .ui-circle__digit
        font-size $number_title_size

    .calculator-section
        &--mansard
            .calculator-section__col
                width: 100%
                margin 0 0 10px 0
                float: none


    .numbers
        margin 0 0 30px 0
        &__title-wrapper
            margin -20px 0 0 0
        &__col-title
            font-size $number_text_size
        .calculator-section__area-total-wrapper
            width 100%
            display inline-block
        .calculator-section__area-total-wrapper
            width 100%
            display inline-block

    .work-types
        .ui-col__title
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
        &__inner
            margin 0 -4px 0 -4px
        .ui-col__wrapper
            padding 0 4px

@media(max-width 391px)
    .text-line-through
        font-size 35px
        text-align center
        span
            padding 0
        &:before
            display none
    .h1
        font-size 21px
    .site-header
        min-height 435px
    .phone-control
        &__phone
            font-size 20px
        span
          font-size 16px
    .calculator
        .text-line-through
            text-align left
