.btn
    display inline-block
    padding 15px 10px 15px 10px
    background $brandColor

    text-transform uppercase
    text-decoration none
    color #fff
    font-family 'UbuntuM', sans-serif

    border 0
    border-top 1px solid #df884e
    border-bottom 2px solid #8a3a05
    border-radius 6px
    box-shadow 0 -1px #d86e28, 2px 3.464px 6px 0px rgba(35, 31, 32, 0.46)

    transition background 0.3s ease

    &:hover
        background darken($brandColor, 10)
        cursor pointer

    &:focus
        outline 0

    &--hero-btn
        padding 0
        span
            font-size 18px
            padding 10px
            display inline-block
            vertical-align middle
            &:first-child
                padding 5px 10px 10px 12px
                border-right 1px solid rgba(0,0,0,.1)

    &--default
        box-shadow 0 -1px #7086b8
        border-top 1px solid #899bc4
        border-bottom 2px solid #3b4c72
        background #5a73ad
        &:hover
            background lighten(#5a73ad, 5)

button.btn
    width 100%