.form-control
    position relative

.form-header
    font-family "Magistral", sans-serif
    text-align center
    margin 10px 0 20px 0
    font-size 21px

.input-group
    margin-bottom 15px

.form-input
    display block
    width 100%
    height 43px
    background #fff
    border 0
    border-radius 0
    padding 0 50px 0 23px
    &::placeholder
        color #696969
        transition color 0.3s ease
    &:focus
        outline 0
        &::placeholder
            color transparent
    &.is-error
        border 2px solid $brandColor !important
    &-textarea
        resize none
        padding 10px 0 0 0

.form-input
    display block
    width 100%
    height 34px
    background transparent
    border 0
    padding 0 0 0 38px
    margin 5px 0 0 0
    position relative

    &::placeholder
        transition color 0.3s ease

    &:focus
        outline 0

        &:focus::placeholder
            color transparent !important

    &.is-error
        background #ffa7a7;
        border 1px solid #ffa7a7 !important

.form-textarea
    resize none
    height 95px
    border 0
    margin 5px 0 0 0
    padding 8px 0 0 40px
    display block
    width 100%

    &:focus
        outline 0

[class^="input-w"]
    position relative
    background #fff
    &:after
        content ''
        position absolute
        top 50%
        -webkit-transform translateY(-50%)
        -ms-transform translateY(-50%)
        transform translateY(-50%)
        display block

.input-w-name
    &:after
        width 22px
        height 22px
        left 7px
        background url("../img/icon-user.png") 0 0 no-repeat

.input-w-phone
    &:after
        left 7px
        width 18px
        height 23px
        background url("../img/icon-phone.png") 0 0 no-repeat

.input-w-email
    &:after
        left 7px
        width 24px
        height 19px
        background url("../img/icon-mail-1.png") 0 0 no-repeat

.input-w-message
    &:after
        -webkit-transform none
        -ms-transform none
        transform none
        top 8px
        left 7px
        width 23px
        height 23px
        background url("../img/icon-message.png") 0 0 no-repeat

.default-form-horizontal
    .form-input,
    .form-textarea
        border 1px solid #cccccc

    .input-group
        padding 0 7.5px 0 7.5px
        &:nth-child(1),
        &:nth-child(2)
            width 50%
            float left
        &:nth-child(3)
            clear left
            clearfix()

.default-form
    position relative
    background #fff
    box-shadow 0p 0p 12px 3px rgba(0,0,0,0.32)
    .input-group
        padding 0 40px

.default-form__inner
    padding 10px 0 15px 0
    background $brandColor

.default-form__header
    position relative
    text-align center
    background #fff
    font-size 23px
    padding 20px 10px
    color #5a73ad

.default-form__text-header
    font-family "UbuntuM", sans-serif
    margin 0
    line-height 20px
    text-transform uppercase

.default-form__text
    padding 0 0 13px 0
    line-height 20px
    color #fff

.default-form__button
    width 100%
    display block
    padding 0 0 0 80px
    height 40px
    line-height 40px
    text-align left

    background-color #5a73ad
    background-image url(../img/icon-letter.png)
    background-size 25px 25px
    background-position 185px center
    background-repeat no-repeat

    &:hover
        background-color lighten(#5a73ad, 10)
        background-image url(../img/icon-letter.png)
        background-size 25px 25px
        background-position 185px center
        background-repeat no-repeat


.js-close-button
    position absolute
    top 0
    right 0
    height:55px
    width 55px
    text-align center
    background url('../img/icon-close.png') center center no-repeat
    transition opacity 0.3s ease
    &:hover
        opacity 0.8
        cursor pointer

#callback-form
    position relative
    max-width 355px
    margin 0 auto
    text-align center
    *
        box-sizing border-box

.project-popup,
.work-popup
    position relative
    max-width 900px
    padding 0 20px
    margin 0 auto
    background #fff

.single-popup
    &__form
        margin 0 -20px 0 -20px
        clear left
        color #fff
        background $brandColor

        &-container
            margin 15px -10px 0 -10px
            clearfix()
            text-align center

            input
                height:40px

            .input-group
                float left
                width 33.333%
                padding 0 10px 0 10px
            .btn
                height 40px
                line-height 40px
                padding 0
                background-color #5a73ad
                margin 5px 0 0 0
                display block
                @media(min-width 700px)
                    text-align left
                    background-color #5a73ad
                    background-image url('../img/icon-letter.png')
                    background-position 165px center
                    background-repeat no-repeat
                    background-size 25px 25px
                    padding 0 0 0 60px
                    transition background .3s ease

                    &:hover
                        background-color lighten(#5a73ad, 5)
                        background-image url('../img/icon-letter.png')
                        background-position 165px center
                        background-repeat no-repeat
                        background-size 25px 25px
        &-inner
            padding 15px 20px 20px 20px

        &-text
            margin 8px 0 0 0

        &-header
            margin 0
            font-size 18px
            color #fff
            text-transform uppercase

    &__header
        position relative
        text-align center
        background #fff
        font-size 23px
        padding 20px 10px
        color #5a73ad

        &:before
            content ''
            height:2px
            position absolute
            background $brandColor
            top 50%
            transform translateY(-50%)
            width 100%
            left 0

    &__close-button
        right -20px
        background #fff url('../img/icon-close.png') center center no-repeat
        transition background .3s ease

        &:hover
            cursor pointer
            opacity 1
            background darken(#fff, 10) url('../img/icon-close.png') center center no-repeat

    &__inner
        clearfix()

    &__table
        margin 5px 0 0 0
        tr
            &:last-child
                border-bottom 1px solid #535458

    &__info-header
        color $defaultTextColor
        font-size 18px
        font-family "UbuntuB", sans-serif
        margin 0
        span
            background #fff
        &:before
            bottom auto
            top 50%
            height 1px
            transform translateY(-50%)
            background #535458

    &__gallery
        margin 10px 0 0 0

        &-link
            display block

        &-inner
            clearfix()
            margin 0 -4px 0 -4px

        &-item
            width 33.3333%
            float left
            padding 0 4px 0 4px
            margin 0 0 7px 0

        &-thumb
            height 75px
            background-position center center
            background-size cover
            transition opacity .3s ease

            &:hover
                opacity 0.8

    &__info
        font-size 14px
        padding 5px 0 0 0
        color $defaultTextColor
        clearfix()

        &-thumb,
        &-title
            display inline-block
            vertical-align top
            margin-left:-4px

        &-thumb
            height 27px
            width 27px
            margin 0 10px 0 0

            &--time
                background url('../img/icon-time.png')  0 0 no-repeat
                background-size cover

            &--price
                background url('../img/icon-price.png')  0 0 no-repeat
                background-size cover

        &-left,
        &-right
            float left
            width 50%
        &-title
            margin 0
            span
                display block
    &__hero
        height 260px
        background-position center center
        background-size cover
        transition opacity .3s ease

        &:hover
            opacity 0.8

    &__left,
    &__right
        float left
        width 50%

    &__left
        padding 0 15px 0 0
    &__right
        padding 0 0 0 15px

    &__text-header
        font-family "UbuntuM", sans-serif
        line-height 20px
        text-transform uppercase
        max-width 90%
        margin 0 auto

        span
            position relative
            z-index:1
            background #fff
            display inline-block
            padding 0 10px

    &__comment
        padding 15px 30px
        text-align justify
        color $defaultTextColor
        font-size 14px
        position relative
        margin 0 0 20px 0
        &:before,
        &:after
            color $brandColor
            font-size 65px
            font-family:"Arial", sans-serif
            position absolute

        &:before
            content '“'
            top 0
            left 0

        &:after
            content '”'
            bottom 0
            right 0
            line-height:0

    .box-w-image
        margin 20px 0 0 0

.work-popup
    @media(max-width 1020px)
        max-width 760px
        .single-popup
            &__info-thumb
                margin 0 5px 0 0
    @media(max-width 800px)
        max-width 560px
        .single-popup
            &__text-header
                span
                    background transparent
            &__header
                &:before
                    display none
            &__left,
            &__right
                width 100%
                padding 0
            &__form
                margin 0 -10px 0 -10px
            &__form-container
                .input-group
                    &:nth-child(1),
                    &:nth-child(2)
                        width 50%
                    &:nth-child(3)
                        clear right
                        width 50%

    @media(max-width 600px)
        max-width 480px
        padding 0 10px
        .single-popup
            &__form-container
                .input-group
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3)
                        width 100%
                        float none
            &__close-button
                right -10px
    @media(max-width 480px)
        .single-popup
            &__info
                &-thumb
                    display block
                    margin 0 auto
                &-title
                    text-align center
                    display block
        .box-w-image
            background none
            &__thumb,
            &__textbox
                display block
            &__textbox
                padding 7px 0 10px 0

.project-popup
    &__table
        width 100%
        margin 10px 0 10px 0
        padding 0 0 20px 0
        border-bottom 1px solid #535458

        td
            padding 0 0 10px 0 0
            &:nth-child(2)
                padding 0 0 10px 20px
            img
                display inline-block
                vertical-align middle
                width 30px
            span
                font-size 14px
                padding 0 0 0 8px
                display inline-block
                vertical-align middle
            span > span
                display block
                padding 0
    &__scrollable
        height 520px
        overflow hidden
        padding-right 12px !important;

    &__second-table
        border-collapse collapse
        border-spacing 0
        clear left
        width 100%

        thead
            border-top 2px solid $brandColor
            tr
                text-align center
                font-family "UbuntuM", sans-serif
                background $brandColor
                color #fefefe
            td
                padding 10px 5px 12px 5px
                border-color #fafafa
                &:last-child
                    border-right-color $brandColor
                &:first-child
                    border-left-color $brandColor
        
        tbody
            td
                color #525457
                &:first-child
                    font-family "UbuntuM", sans-serif
                &:not(:first-child)
                    text-align center
                
        td
            border 1px solid $brandColor
            padding 7px 5px 7px 5px

    &__layouts
        margin 20px 0 30px 0
        &-inner
            clearfix()
            margin 0 -15px 0 -15px

        &-thumb
            background-size contain
            background-position center center
            background-repeat no-repeat
            height 140px

        &-left,
        &-right
            float left
            width 50%
            padding 0 15px 0 15px

        &-link
            display block
            padding 5px
            border 1px solid #535458
            box-shadow 1.721px 2.457px 6px 0 rgba(0, 0, 0, 0.46)
            transition opacity .3s ease
            &:hover
                opacity .8

        &-label
            margin 5px 0 0 0
            color $defaultTextColor
            text-align center

    .single-popup__form
        color $defaultTextColor
        background #e8e8e8

    .single-popup__form-header
        color #5a73ad

.message-popup
    max-width 400px
    text-align center
    font-size 22px
    color $defaultTextColor
    background #fff
    padding 60px 40px
    margin 0  auto

    &__header
        margin 0

.project-popup
    @media(max-width 1020px)
        max-width 850px
    @media(max-width 900px)
        max-width 650px
        .single-popup
            &__text-header
                span
                    background transparent
            &__header
                &:before
                    display none
            &__left,
            &__right
                width 100%
                padding 0
            &__form
                margin 0 -10px 0 -10px
            &__form-container
                .input-group
                &:nth-child(1),
                &:nth-child(2)
                    width 50%
                &:nth-child(3)
                    clear right
                    width 50%
        .single-popup
            &__form-container
                .input-group
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3)
                    width 100%
                    float none
            &__close-button
                right -10px

    @media(max-width 600px)
        max-width 480px
        padding 0 10px

    @media(max-width 480px)
        .single-popup
            &__info
                &-thumb
                    display block
                    margin 0 auto
                &-title
                    text-align center
                    display block
        .project-popup__table td img
            display none
        .box-w-image
            background none
            &__thumb,
            &__textbox
                display block
            &__textbox
                padding 7px 0 10px 0

.smeta-popup
    background: #fff
    .mfp-close
        color #333


// @media print {
//   body * {
//     visibility: hidden;
//     display none;
//   }
//   .mfp-wrap, .mfp-wrap * {
//     visibility: visible;
//     display block;
//   }
//   .mfp-wrap {
//     position: absolute;
//     display block;
//     left: 0;
//     top: 0;
//   }
// }

.calc-table-popup
    background: #fff
    font-size 14px
    &__row
        padding 5px 0
        p
            margin 2px 0
    &__container
        max-width 600px
        margin 0 auto
    &__disclaimer
        font-style italic
        margin 10px 0 15px 0
    &__print-link
        margin 5px 0
        color #333
        display block
    table
        font-size 13px
        margin 10px auto 0 auto
        width 100%
        border-collapse: collapse
        th, td
            padding 2px 5px
        &, th, td
            border: 1px solid #333
        td
            &:last-child
                white-space nowrap