webfont('UbuntuBI', 'Ubuntu/Ubuntu-BI')
webfont('UbuntuB', 'Ubuntu/Ubuntu-B')
webfont('UbuntuC', 'Ubuntu/Ubuntu-C')
webfont('UbuntuL', 'Ubuntu/Ubuntu-L')
webfont('UbuntuLI', 'Ubuntu/Ubuntu-LI')
webfont('UbuntuM', 'Ubuntu/Ubuntu-M')
webfont('UbuntuMI', 'Ubuntu/Ubuntu-MI')

html,
body
  height 100%

body
  position relative
  font-family 'UbuntuL', sans-serif
  font-size 16px

hr
    border 0
    border-top 1px solid #908f8f
    
for index in (1..5)
  h{i}
    font-family $brandFontBold, sans-serif

.js-nav-toggle
    display none

.container
    margin 0 auto
    clearfix()
    @media (min-width 800px)
      width 768px
      padding 0 10px
    @media (min-width 1020px)
      width 980px
    @media(min-width 1140px)
      width 1100px
    @media (min-width 1280px)
      width 1200px
      padding 0 20px

.h1
    color #fff
    text-transform uppercase
    font-size 46px
    font-family 'UbuntuB', sans-serif
    text-shadow 1px 1px 1px rgba(0,0,0,.5)
    letter-spacing 2px
    margin 0.67em 0 0.3em 0
    line-height 54px
    span
        font-family "UbuntuL", sans-serif
        font-size 34px
        display block

.text-strong
    font-family 'UbuntuB', sans-serif

.text-header
    font-family "UbuntuB", sans-serif
    font-size 50px
    color $secondColor


.text-line-through
    position relative
    span
        position relative
        z-index 0
        background $grayBack
        padding 0 25px 0 0

    &--white
        span
            background #fff

    &--left span
        padding 0 25px 0 0

    &--right
        span
            padding 0 0 0 25px

.popup-text-container
    position relative
    background #FFF
    padding 20px
    widthauto
    max-width 500px
    margin 20px auto

.text-line-through:before
    content ''
    display block
    position absolute
    left 0
    bottom 12px
    width 100%
    height 3px
    background $brandColor


.text-with-icon
    i
      font-size 20px
    a, span, i
        display inline-block
        vertical-align middle
    & :nth-child(2)
        padding-left 10px

.text-highlight
  color $brandColor

.text-italic
  font-style italic
    
.text-center
  text-align center

.text-left
    text-align left

.text-right
    text-align right

.empty-link
  text-decoration none
  color inherit
  transition opacity 0.3s ease
  -webkit-backface-visibility hidden // jumping on hover - fixed
  &:hover
      opacity 0.8
      
  &:focus
      opacity 0.8
      color inherit

.is-hidden
  display none
    
.is-fixed
  position fixed
  top 0
  left 0
  width 100%
  z-index 10

.img-responsive
  max-width 100%
  display block

.no-margin
  margin 0

for i in range(0px, 100px, 10px)
  .mb-{i}
      margin-bottom i
  .mt-{i}
      margin-top i

@import "assets/libs/_blazon"
//@import "assets/libs/magnific-popup/_animation-slide"

.slick-slider .slick-slide
    display none

.slick-initialized.slick-slider .slick-slide,
.slick-initialized.slick-slider .slick-slide:first-child
    display block

.r-carousel
  position  relative
  
  &__item
    position relative
    color = rgba(0,0,0,0.3)
    overlay(color, 1)
  
  &__button
    width  10%
    position  absolute
    height  100%
    top 0
    z-index  1000
    
  &__button--right
    right 0
  
  &__button--left
    left 0
  
  &__arrow-image
    position  absolute
    top 50%
    transform translateY(-50%)
    transition opacity 0.3s ease
    &:hover
      cursor pointer
      opacity 0.7

  
  &__arrow-image--left
    left 0
    font-size 55px
    color #868080
    padding 30px 5px 30px 0
    background rgba(255,255,255,0.5)
  
  &__arrow-image--right
    right 0
    font-size 55px
    color #868080
    padding 30px 0
    background rgba(255,255,255,0.5)

.round-checkbox
    display inline-block
    &__control
        width 25px
        border-radius 100%
        display inline-block
        vertical-align middle
        height 25px
        border 1px solid $brandColor
        &:hover
            background rgba(255,255,255,0.7)
            cursor pointer
        &:focus
            border 1px solid darken($brandColor, 10)
    input
        display none
        &:checked ~ .round-checkbox__control
            background-color $brandColor
            background-image url('../img/icon-tick-1.png')
            background-position center center
            background-repeat no-repeat

.ui-col
    height 100%
    padding 0 0 50px 0
    background #fff
    position relative
    &__title
        color #2f2f2f
        text-align center
        text-transform uppercase
        font-size 18px
        font-family "UbuntuM", sans-serif
        margin 0
        padding 10px 0 14px
    &__text
        font-size 14px
        margin 0 0 15px 0
        color #555555
        text-align justify
    &__btn
        background $secondColor
        text-transform uppercase
        color #fff
        font-size 16px
        height 38px
        line-height 38px
        position absolute
        bottom 15px
        width 89%
        width calc(100% - 30px)
        display block
        text-align center
        font-family "UbuntuM", sans-serif
        transition opacity .3s ease
        text-decoration none
        &:hover
            opacity .8
    &__inner
        padding 0 15px

$loader-size =  10em
$check-height =  $loader-size/2;
$check-width =  $check-height/2;
$check-left =  ($loader-size/6 + $loader-size/12)
$check-thickness = 5px
$check-color =  $brandColor

.ui-circle
    position relative
    border $check-thickness solid rgba(0, 0, 0, 0.2)
    border-left-color $check-color
    display inline-block
    vertical-align top

    @media(min-width 1280px)
        &:before
            content ''
            border 1px solid #eee
            width:113%
            height 113%
            border-radius 100%
            position absolute
            left -11px
            top -10px


    &__digit
        font-size 73px
        color $brandColor
        font-family "UbuntuM", sans-serif
        display block
        text-align center
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)

    &,
    &:after
        border-radius 50%
        width $loader-size
        height $loader-size

.site-categories
    margin 0 -8.8px 0 -8.8px
    &__list
        padding 0
        list-style-type none
        width 100%
    &__item
        display inline-block
        text-align center
        vertical-align middle
        font-size 18px
        text-transform uppercase
        margin 0 8.8px
    &__link
        padding 10px 33px
        border-radius 6px
        color $defaultTextColor
        border 1px solid $brandColor
        transition all .3s
        display block
        &.is-active
            color #fff
            background $brandColor
        &:hover
            color #fff
            background lighten($brandColor, 20)
    &__link
        text-decoration none

.panel
    border 1px solid #cecece
    padding 10px 15px
    border-radius 6px
    background #fff

    &__checkbox-row
        &:not(:last-child)
            margin 0 0 10px 0
        label
            font-size 12px
            color $defaultTextColor
        input, label
            display inline-block
            vertical-align top

.icon-area-1
    background-image url('../img/icon-area.png')
.icon-area-2
    background-image url('../img/icon-area-1.png')
.icon-floors
    background-image url('../img/icon-floors.png')
.icon-size
    background-image url('../img/icon-size.png')

.pagination
    &__list
        margin 0
        padding 0
        list-style-type none
        text-align center

    &__item
        display inline-block
        margin 5px 5px 0 5px

    &__link
        padding 10px 15px
        display block
        font-size 18px
        text-decoration none
        -webkit-transition color 0.3s ease
        transition color 0.3s ease
        background $brandColor
        font-family "UbuntuM", sans-serif
        color #7a84a0
        background #ffffff
        border 1px solid $brandColor
        &:hover
            background $brandColor
            color #fff
        &.is-active
            background $brandColor
            color #fff

.input-default
    border 1px solid $brandColor
    height 25px
    &.is-required
        border 1px solid red
        box-shadow 1px 1px 3px red

.input-wrapper
    &__symbol
        display inline-block
        position relative
        &:before
            content attr(data-symbol)
            position absolute
            top 50%
            right 8px
            color $brandColor
            font-family "UbuntuM", sans-serif
            transform translateY(-50%)
        input
            padding 0 30px 0 0
            text-align right
            display block
            width 100%
            &:focus
                outline:0
    &__counter
        display inline-block
        position relative
        input
            padding 0 25px 0 0
            text-align right
            display block
            width 100%
            &:focus
                outline:0
        .input-wrapper-controls
            position absolute
            height 100%
            background transparent
            right 0
            border-left 1px solid $brandColor
            width 20px
            top 0

            &__up,
            &__down
                position absolute
                height 50%
                left 0
                width 100%
                background transparent
                transition opacity .3s ease
                cursor pointer
                &:hover
                    opacity .8
            &__up
                top 0
                border-bottom 1px solid $brandColor
                &:before
                    content ''
                    position absolute
                    height:0
                    width:0
                    border-left 5px solid transparent
                    border-right 5px solid transparent
                    border-bottom 5px solid $brandColor
                    left 50%
                    top 50%
                    transform translate(-50%, -50%) translate(-1px, 0px)
            &__down
                bottom 0
                &:before
                    content ''
                    position absolute
                    height:0
                    width:0
                    border-left 5px solid transparent
                    border-right 5px solid transparent
                    border-top 5px solid $brandColor
                    left 50%
                    top 50%
                    transform translate(-50%, -50%) translate(-1px, 0px)

[data-symbol="м2"]
    input
        padding 0 35px 0 0

.default-table
    width:100%
    color #525457
    border-collapse collapse
    td
        padding 5px 0 8px
    tr
        border-bottom 1px dashed $brandColor

.box-w-image
    background #f4f4f4
    &__thumb
        background-size cover
        background-position top center
        background-repeat no-repeat
        height:75px
        width 75px

    &__thumb,
    &__textbox
        display inline-block
        vertical-align top
        color $defaultTextColor

    &__textbox
        padding 7px 0 10px 5px

    &__title
        margin 0 0 5px 0

    &__text
        margin 0
        span
            display block