empty-link()
    color inherit
    text-decoration: none
    transition opacity .3s ease
    &:hover
        opacity 0.8

list-unstyled()
    margin 0
    padding 0
    list-style-type: none

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

font-url(file)
  return '../fonts/' + file

overlay(color = rgba(0,0,0,0.8), z-index = -1, pos = relative)
  position pos
  &:before
    content ''
    left 0
    top 0
    width 100%
    height 100%
    position absolute
    z-index z-index
    background color

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype'), 
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')