
// Helpers

@import "_variables"
@import "_mixins"


// Normalize

@import "assets/_normalize"

// Assets

@import "components/_hamburger"
@import "components/_checkboxes"

// Extra

@import "assets/_noui-slider"
@import "assets/_magnific-popup"
@import "assets/_scrollbar"

// General

@import "_general"

// Controls

@import "_buttons"
@import "_forms"

dev = 0

*
  box-sizing border-box
  if dev
    outline 1px solid #eee

.site-header
    background url('../img/hero.jpg') 0 0 no-repeat
    background-size cover
    min-height 800px
    padding 35px 0 0 0

    &__nav
        float left

    &__controls
        float right
        margin -5px 0 0 0

    &__textsection
        max-width 48.25%
        text-align right
        padding 80px 0 0 10px

    &__btn-wrapper
        text-align left
        padding 0 0 0 10px
        
        .btn,
        & > span
            display inline-block
            vertical-align middle
        
        & > span
            text-transform uppercase
            color #fff
            padding 0 0 0 14px
            text-shadow 1px 1.732px 4px rgba(35, 31, 32, 0.46)

@import "components/_nav"

.site-sections
    margin -165px 0 55px 0
    &__row
        margin 0 -35px 0 -35px
        display flex
        clearfix()
    for i in (1..3)
        &__thumb-{i}
            background url('../img/site-section-img-'+ i + '.png') 0 -15px no-repeat
            background-size cover
    .ui-col
        box-shadow 2px 4px 11px 3px rgba(0,0,0,0.35)
        &__thumb
            height 205px
        &__wrapper
            width 33.333%
            padding 0 35px 0 35px
            float left

.phone-control
    display inline-block;
    text-align right;

    &__phone
        font-size 23px
        color #fff
        font-family 'UbuntuM', sans-serif

    &__link
        color #fff
        font-size 14px
        display block
        line-height 1.2em
        transition opacity .3s ease
        &:focus
            outline 0
        &:hover
            opacity .8

.about-us
    margin 0 0 85px 0
    &__text
        margin 0
        font-size 17px
        color #555555
        text-align center

$middle_column = 81px

.numbers
    margin 0 0 55px 0
    .ui-circle:first-child
        border-top-color $check-color
    &__title-wrapper
        margin -40px 0 0 0
        background #fff
        position relative
        z-index 0
    &__col-inner
        border-radius 100%
        padding 7px 0 0 0
    &__col
        width 330px
        display inline-block
        vertical-align top
        text-align center
        &:first-child
            padding 0 0 0 25px
            position relative
            .numbers__col-inner
                &:before
                    content ''
                    display block
                    background url('../img/separator.png') 0 0 no-repeat
                    width 198px
                    height 10px
                    position absolute
                    right -46%
                    top 50%
                    transform translateY(-50%)
        &:nth-child(2)
            margin 0 $middle_column 0 $middle_column
            .ui-circle
                transform rotate(-25deg)
            .ui-circle__digit
                transform translate(-50%, -50%) rotate(25deg)
        &:last-child
            position relative
            .ui-circle
                transform rotate(-95deg)
            .ui-circle__digit
                transform translate(-50%, -50%) rotate(95deg)
            .numbers__col-inner
                &:before
                    content ''
                    display block
                    background url('../img/separator.png') 0 0 no-repeat
                    width 198px
                    height 10px
                    position absolute
                    left -42%
                    top 50%
                    transform translateY(-50%)
        &-title
            text-transform uppercase
            color #aeaeae
            font-size 18px
            background #fff
            padding 15px 0 10px 0
            border-bottom 5px solid $secondColor
            display inline-block
            font-family "UbuntuM", sans-serif

$colors = #84c923, #6ac0f3, #f0cd0a, #ff331e

.work-types
    background $grayBack
    padding 0 0 55px 0

    &__thumb
        height 175px
        margin 0 0 10px 0

    for color, i in $colors
        &__thumb-{i + 1}
            background url('../img/work-types-' + (i + 1) + '.png') 0 0 no-repeat
            background-size cover
            border-bottom 3px solid color

    &__inner
        margin 0 -13px 0 -13px
        display flex
        clearfix()

    .ui-col
        height 100%
        padding 0 0 50px 0
        position relative
        box-shadow 4px 3px 11px 0 rgba(0,0,0,0.25)

        &__thumb-wrapper
            padding 0 15px

        &__title
            color #555555

        &__btn
            background $brandColor
            font-family "UbuntuL", sans-serif
            position absolute

        &__wrapper
            float left
            width 25%
            padding 0 13px 0 13px

.advantages
    padding 0 0 70px 0

    &__thumb,
    &__info
        width 50%

    &__thumb
        height 300px

    for i in (1..3)
        &__thumb-{i}
            background url('../img/advantages-thumb-' + i + '.png') 0 0 no-repeat
            background-size contain

    &__row
        clearfix()
        &--left
            div:first-child
                float left
            div:last-child
                float right
                padding 0 0 0 30px
        &--right
            div:first-child
                float right
            div:last-child
                float left
                padding 0 30px 0 0

    &__header
        margin 30px 0 20px 0
        font-size 32px
        color $defaultTextColor
        line-height .9em
        font-family "UbuntuB", sans-serif
        text-transform uppercase

    &__text
        color $defaultTextColor

$projectsColsGaps = 10px

.projects
    padding 0 0 50px 0
    background #fff

    .panel
        margin 10px 0 0 0

    &__container
        margin 20px -10px 0 -10px
        clearfix()

        .js-open-popup
            transition opacity .3s ease
            text-decoration none
            &:focus
                outline 0
            &:hover
                opacity 0.7

    .pagination-wrapper
        position relative
        z-index 0

    .project
        color #555
        width 33.3333%
        float left
        margin 0 0 20px 0
        padding 0 10px 0 10px

        &__inner
            background #fff
            border-radius 5px
            box-shadow 2px 4px 11px 3px rgba(0,0,0,0.35)

        // &__thumb
        //     margin 0 0 20px 0
        //     height 285px
        //     border-radius 5px 5px 0 0
        //     position relative
        //     z-index:0

        //     &:after
        //         content ''
        //         width 0
        //         height 0
        //         bottom 0
        //         left 50%
        //         transform translateX(-50%)
        //         display block
        //         position absolute
        //         border-left 10px solid transparent;
        //         border-right 10px solid transparent;
        //         border-bottom 10px solid #fff;
        //         z-index:1

        // &__header,
        // &__price
        //     text-align center

        // &__header
        //     text-transform uppercase
        //     color $defaultTextColor
        //     font-family:"UbuntuB", sans-serif
        //     font-size 18px
        //     margin 0

        // &__footer
        //     border-radius 0 0 5px 5px
        //     background #f3f3f3
        //     padding 20px
        //     clearfix()

        // &__price
        //     margin 5px 0 15px 0
        //     color $defaultTextColor

        // &__field
        //     font-size 14px
        //     float left
        //     width 50%
        //     &:not(:last-child)
        //         margin 0 0 10px 0
        //     &-icon,
        //     &-title
        //         display inline-block
        //         vertical-align middle
        //     &-icon
        //         width 25px
        //         height:25px
        //         background-size contain
        //         background-repeat no-repeat
        //         background-position 0 0
        //         margin 0 5px 0 0
        //     &-title
        //         margin 0

.projects-frame
    body
        background #fff

.projects-filter
    margin 20px -($projectsColsGaps) 0 -($projectsColsGaps)

    #project-slider
        position relative
        z-index 0

    &__col
        margin 0 $projectsColsGaps 0 $projectsColsGaps
        display inline-block
        vertical-align top

    &__label
        padding 0 0 0 20px
        color #7a84a0
        margin 0

    &__area
        min-width 160px
        .panel
            padding 40px 15px 10px 15px

    &__floors
        max-width 120px

    &__bedrooms
        .panel__checkbox-row-wrapper
            margin -10px -15px 0 -15px
            clearfix()
        .panel__checkbox-row
            float left
            margin 10px 15px 0 15px
            &:nth-child(4)
                clear left

    &__features
        max-width 370px
        .panel__checkbox-row:not(:last-child)
            margin 0
        .panel__checkbox-row-wrapper
            margin -10px 0 0 0
            clearfix()
        .panel__checkbox-row
            label
                min-width 83px
            float left
            padding 10px 0 0 0

    &__btn
        margin 30px 0 0 0
        height 64px
        text-align center
        min-width 255px
        font-size 18px
        line-height 33px

.gift-wrapper
    padding 100px 0 125px 0
    margin-top -50px
    background #fafbff
    position relative
    &:before
        content ''
        height 100%
        top 0
        position absolute
        left 0
        background: url(../img/house.png) right -30px top no-repeat
        width 100%
        z-index 1

.gift
    padding 0 0 40px 0
    border-bottom 20px solid #5a73ad
    position relative
    &:before
        content ''
        position absolute
        width 100%
        height 100%
        display block
        background #94a4ca
        z-index 0
    .container
        position relative
        z-index 1


    &__inner
        float left
        width 50%

    &__subheader,
    &__header
        color #fff
        text-transform uppercase

    &__header
        font-size 40px
        font-family:"UbuntuM", sans-serif

    &__subheader
        line-height 25px
        font-size 18px
        span
            font-family:"UbuntuM", sans-serif

    &__form
        max-width 340px

    .btn
        display block
        font-size 23px
        text-transform capitalize
        font-family "UbuntuM", sans-serif
        padding 0
        text-align center
        height 50px
        line-height 50px

        &:hover
            background darken($brandColor, 10)

        @media(min-width 500px)
            &--letter
                text-align left
                padding 0 0 0 95px
                background $brandColor url('../img/icon-letter.png') 240px center no-repeat
                &:hover
                    background darken($brandColor, 10) url('../img/icon-letter.png') 240px center no-repeat

.calculator
    .text-header
        margin 0 0 0.5em 0
    background #fafbff
    padding 0 0 60px 0

.calculator-section
    float left
    
    &.not-active
        position relative
        opacity 0.3
        &:before
            content ''
            position absolute
            z-index 1000
            display block
            width 100%
            height 100%

    .text-line-through
        &:before
            opacity 0

    &__hide
        display none !important
        margin -2px 0 0 0
        &:before
            content ''
            border solid black
            border-width 0 3px 3px 0
            display inline-block
            vertical-align middle
            padding 3px
            transform rotate(45deg)


    &__floor-control
        border 1px solid $brandColor
        background #ffffff
        font-size 12px
        position relative
        border-radius 10px
        text-align center
        display inline-block
        padding 4px 8px !important
        transition all .3s ease
        &:not(:first-child)
            margin 0 0 0 10px
        &:hover
            cursor pointer
            background  darken(#fff, 10)
        &.is-active
            background $brandColor
            color #fff


    &__col-w-field
        max-width 100px
        display inline-block
        vertical-align middle

        &:not(:last-child)
            margin 0 20px 0 0
            
        &--mansard
            padding 32px 0 0 0
            
            .default-checkbox:not(:checked) + label, .default-checkbox:checked + label
                position relative
                padding 0.35em 0 0 2.95em
                cursor pointer
                
            .default-checkbox:not(:checked) + label:before, .default-checkbox:checked + label:before
                width 1.85em
                height 1.85em
                
            .default-checkbox:not(:checked) + label:after, .default-checkbox:checked + label:after
                width 1.85em
                height 1.85em

        &--remoteness
            max-width 200px

    &__upper
        position relative
        &:before
            content ''
            display block
            width 100%
            height 2px
            position: absolute
            top 50%
            transform translateY(-50%)
            left 0
            background $brandColor

    &__header,
    &__controls
        display inline-block

    &__controls
        margin 0 0 0 10px
        clearfix()

    &__header
        &:before
            top 50%
            transform translateY(-50%)
            bottom initial
            width 100%
            height 2px
        span
            vertical-align middle
            display inline-block
        span:first-child
            padding 0 10px 0 0
            color $brandColor
            font-size 42px
            font-family:"UbuntuB", sans-serif
        span:nth-child(2)
            margin-left -4px
            color #7a84a0
            font-size 18px
            font-family:"UbuntuB", sans-serif

    &__label
        color #555555
        font-size 12px
        line-height 1.2em
        display block
        margin 0 0 5px

    &__area-total-wrapper
        display inline-block
        vertical-align bottom

    &__area-total
        border 1px solid #cccccc
        padding 7px 9px 10px 9px
        font-family:"UbuntuM", sans-serif
        color #555555
        font-size 12px
        margin 0 20px 0 0
        & > span:first-child
            padding 0 10px 0 0
        span
            span
                color $brandColor
                padding 0 0 0 5px

    &__chekboxes
        display inline-block
        vertical-align middle

    &__col
        .panel.is-active
            border 1px solid $brandColor
         &.is-disabled
            opacity 0.7
            position relative
            &:before
                content ''
                width 100%
                height 100%
                position: absolute
                background transparent
                z-index 1
            &:hover
                cursor not-allowed
                border-color #cecece
                
    &__checkbox
        display inline-block
        vertical-align middle
        margin -5px 0 0 0
        label
            font-size 12px
            color $defaultTextColor
            margin 0 5px

    .panel
        transition border .3s ease

        &.is-selectable
            &:hover
                cursor pointer
                border-color $brandColor
        
        &.is-disable
            opacity 0.7
            position relative
            &:before
                content ''
                width 100%
                height 100%
                background transparent
                z-index 1
            &:hover
                cursor not-allowed
                border-color #cecece

        &__thumb,
        &__header
            display inline-block
            vertical-align middle
        &__header
            color $defaultTextColor
            font-size:12px
            padding 0 0 0 10px
            line-height:1.2em

    &--mansard
        .calculator-section__col
            min-width 220px
            .panel
                min-height 75px

    &--dimensions
        width 100%

    &--foundation
        clear left
        width 100%
        .calculator-section__inner
            margin 0 -5px 0 -5px
            clearfix()
        .calculator-section__col
            width 20%
            float left
            padding 0 5px 0 5px

    &--external-walls
        .calculator-section__col
                min-width 170px
                display inline-block
                padding 0 5px 0 5px

                &:nth-child(1),
                &:nth-child(2)
                    .panel__header
                        min-height 30px
                        line-height 30px
                        
    &--external-walls,
    &--inner-walls
        clear left
        width 100%
        .calculator-section__inner
            margin 0 -5px 0 -5px
            clearfix()
        
    &--inner-walls
        .calculator-section__col
                width 20%
                float left
                padding 0 5px 0 5px
                
                &:nth-child(1)
                     .panel__header
                        min-height 30px
                        line-height 30px
                
    &--floor
        width 100%
        .calculator-section__inner
            margin 0 -6px 0 -6px
            clearfix()
        .calculator-section__col
            display inline-block
            padding 0 6px 0 6px
            &:nth-child(1)
                .panel__header
                    min-height 30px
                    line-height 30px

    &--overlapping
        width 100%
        .calculator-section__inner
            margin 0 -6px 0 -6px
            clearfix()
        .calculator-section__col
            display inline-block
            padding 0 6px 0 6px
            &:nth-child(1),
            &:nth-child(4)
                .panel__header
                    min-height 30px
                    line-height 30px

    &--roof
        width 100%
        .calculator-section__inner
            margin 0 -6px 0 -6px
            clearfix()
        .panel__header
            padding 0 0 0 0
        .calculator-section__col
            width 20%
            float left
            padding 0 4px 0 4px
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7)
                .panel__header
                    min-height 30px
                    line-height 30px
                    
    &--mansard
        width 100%
        .calculator-section__inner
            margin 0 -6px 0 -6px
            clearfix()
        .calculator-section__col
            width 20%
            float left
            padding 0 4px 0 4px
            margin 0 0 5px 0
            
    &--facade
        width 58%
        .calculator-section__inner
            margin 0 -4px 0 -4px
            clearfix()
        .calculator-section__col
            float left
            width 33.33333%
            padding 0 4px 0 4px
            &:nth-child(3)
                .panel__header
                    min-height 30px
                    line-height 30px
    &--networks
        width 42%
        padding 0 30px 0 0
        .calculator-section__inner
            margin 0 -4px 0 -4px
            clearfix()
        .calculator-section__col
            float left
            width 50%
            padding 0 4px 0 4px
            &:nth-child(1)
                .panel__header
                    min-height 30px
                    line-height 30px
            &:nth-child(2)
                .panel
                    padding 4px 15px
    &--warming
        clear left
        width 100%
        .default-checkbox
            &:not(:checked) + label:before, &:checked + label:before
                width 1em
                height 1em
            &:not(:checked) + label:after, &:checked + label:after
                width 1em
                height 1em
            &:not(:checked) + label, &:checked + label
                padding-left 1.55em
                width 100%
        .panel__header
            padding 0
        .calculator-section__inner
            margin 0 -4px 0 -4px
            clearfix()
        .calculator-section__col
            float left
            width 33.3333%
            padding 0 4px 0 4px
            .panel
                padding 4px 0 4px 8px
            &:nth-child(1),
            &:nth-child(3)
                .panel__header
                    min-height 30px
                    line-height 30px

    &--windows
        clear left
        width 100%
        .panel
            padding 10px 8px 10px 15px
        .panel__header
            padding 0 0 0 5px
        .calculator-section__inner
            margin 0 -5px 0 -5px
        .calculator-section__col
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
                float left
                width 33.3333%
                padding 0 5px 0 5px
            &:nth-child(4)
                clear left
            &:nth-child(n+4)
                float left
                width 25%
                padding 0 5px 0 5px
                margin 10px 0 0 0
            &:last-child
                .panel__header
                    line-height 30px
                    height: 30px
        .input-wrapper
            max-width 80px
            float right
            margin 5px 5px 0 0
            input
                font-size:12px
            &:before
                color #000
                font-family:"UbuntuL", sans-serif
                font-size 12px
                line-height 0

    &--siding
        clear left
        width 100%

        .calculator-section__inner
            float left

            &:nth-child(2)
                width 46%
            &:nth-child(3)
                width 54%
                padding 0 0 0 40px

        .calculator-section__col
            width 50%
            float left
            margin 0 0 10px 0
            padding 0 7.5px 0 7.5px
            .panel
                position relative
            .round-checkbox
                position absolute
                top 50%
                right 10px
                transform translateY(-50%)
            &:first-child
                .panel
                    padding 5px 15px

    &__main-label,
    &__total-price
        font-size 42px
        font-family:"UbuntuB", sans-serif

    &__main-label
        float left
        margin 0
        color $secondColor

    &__total-price
        float right
        color $brandColor

    &__btn
        width 100%
        font-family "UbuntuL", sans-serif
        font-size 23px
        clear both
        display block
        padding 10px 20px 7px 20px
        max-width 270px
        margin 25px 0 0 0
        float right
        text-align center

    .text-line-through
        span:not(.calculator-section__hide)
            padding 0 25px 0 0

.smeta
    background-color $brandColor
    background-image url('../img/smeta-background.png')
    background-position -120px center
    background-repeat no-repeat

    padding 0 0 10px 0

    &__form
        text-align right
        max-width 545px
        float right
        .input-group
            display inline-block
            width 50%
            margin-left -4px
            padding 0 5px 0 5px
            &:last-child
                display block
                float right
                .btn
                    display block
                    max-width 260px
                    text-align center
                    margin 5px 0 0 0
                    @media(min-width 1280px)
                        text-align left
                        background-color #6b81b5
                        background-image url(../img/icon-letter.png)
                        background-size 25px 25px
                        background-position 167px center
                        background-repeat no-repeat
                        padding 0 0 0 65px
                        &:hover
                            background-color lighten(#6b81b5, 10)
                            background-image url(../img/icon-letter.png)
                            background-size 25px 25px
                            background-position 167px center
                            background-repeat no-repeat

    &__inner
        float right
        width 50%
        color #fff

    &__header
        padding 24px 90px 0 0
        font-size:46px
        margin 0
        font-family:"UbuntuB", sans-serif
        float right

    &__description
        margin 0
        padding 25px 0 66px 0
        font-size 25px
        max-width 545px
        float right
        line-height 1.3em
        text-align justify

    &__btn
        height:40px
        padding 0
        float right
        width 260px
        line-height:40px

.works
    padding 0 0 40px 0
    &__inner
        padding 0 0 40px 0
        clearfix()
    &__container
        padding 15px 0 0 0
        margin 0 -12.5px 0 -12.5px
        clearfix()
    &__col-wrapper
        position relative
        box-shadow 1.721px 2.457px 6px 0 rgba(0, 0, 0, 0.46)

    &__col
        float left
        width 33.3333%
        padding 20px 12.5px 0 12.5px

        &:hover
            .works__col-overlay
                opacity 1

        &-btn
            text-decoration none
            border 1.5px solid #fff
            display block
            max-width 130px
            margin 0 auto
            width 100%
            background #fff
            text-align center
            color #a54200
            height 40px
            line-height 28px
            padding 2px
            font-size 18px
            background-clip content-box
            transition border .1s ease

            &:hover
                cursor pointer
                border 0
        &-icon
            width 46px
            height 36px
            margin 0 auto
            background url('../img/icon-house.png') 0 0 no-repeat

        &-overlay
            opacity 0
            top 0
            left 0
            transition opacity .3s ease
            position absolute
            width 100%
            height 100%
            background rgba($brandColor, 0.8)
            color #fff
            text-align center

            &-inner
                position absolute
                top 50%
                width 100%
                transform translateY(-50%)

            p
                padding 0 5px
                font-size 18px
                font-family:"UbuntuM", sans-serif

    &__thumb
        border-bottom 10px solid $brandColor
        height 220px
        background-position center center
        background-size cover

    .pagination-wrapper
        margin 20px 0 0 0

.site-footer
    position relative
    padding 45px 0 55px 0
    border-top 6px solid #5a73ad

    .text-line-through
        &:before
            width 50%
            left auto
            right 0
        span
            background transparent

    &__left,
    &__right
        float left
        width 50%

    &__right
        padding 45px 0 0 28px
        line-height 1.2em

    &:before
        content ''
        top 0
        left 0
        position absolute
        height 100%
        width 100%
        opacity .16
        background url('../img/footer-background.jpg') center center no-repeat
        background-size cover

    &__advantages
        list-style-type:none
        margin 30px 0 0 0
        padding 0 0 0 25px
        li
            background url('../img/list-marker.png') 0 center no-repeat
            display block
            color $secondColor
            font-size 25px
            font-family:"UbuntuM", sans-serif
            padding 0 0 0 1.8em
            &:not(:last-child)
                margin 0 0 17px 0

    &__header
        font-size:40px
        margin 0

    &__subheader
        font-size 40px
        margin 3px 0 0 0
        color $secondColor

    &__form-helper
        color $secondColor
        margin 1em 0 0 0
        padding 0 5px

    &__form
        padding 30px 0 0 0

    &__btn
        float right
        height 39px
        line-height 33px
        max-width 260px
        position relative
        font-size 18px
        width 100%
        z-index 0
        text-align center
        text-transform capitalize
        @media(min-width 500px)
            text-align left
            padding 0 0 0 65px !important
            background-color $brandColor
            background-image url('../img/icon-letter.png')
            background-position 167px center
            background-repeat no-repeat
            background-size 25px 25px
            &:hover
                background-color darken($brandColor, 10)
                background-image url('../img/icon-letter.png')
                background-position 167px center
                background-repeat no-repeat
                background-size 25px 25px

.feedback
    background #94a4ca

    &__inner
        padding 0 0 40px 0

    &__container
        margin 0 -12px 0 -12px
        clearfix()

    &__frame
        iframe
            vertical-align top
            width 100%
            height 205px

    &__name
        margin 0
        color #fff
        text-align left
        background $brandColor
        padding 10px 15px
        span
            display block

    &__col
        width 33.333%
        margin 0 0 20px 0
        float left
        padding 0 12px 0 12px
        &-inner
            box-shadow 1.721px 2.457px 6px 0 rgba(0, 0, 0, 0.46),inset 0px 0px 90px 0px rgba(0, 0, 0, 0.004);



    .text-line-through
        &:before
            background #fff
        span
            background #94a4ca
            color #fff


.contacts
    color #fff
    background #8597c2
    padding 25px 0 40px 0

    &__address
        margin 0
        padding 0 95px 0 0
        line-height 1.4em

    &__address,
    &__info
        display inline-block
        vertical-align top

    &__phone-link
        font-family:"UbuntuB", sans-serif
        margin 0 0 3px 0

    &__info
        a
            display block

    &__info
        padding 0 0 0 30px
        border-left 1px solid #fff

    &__inner
        clearfix()

    &__left,
    &__right
        float left
        width 50%

    &__right
        padding 0 0 0 0

    &__header
        margin 0 0 12px 0
        font-size 18px
        text-transform uppercase
        font-family:"UbuntuB", sans-serif

.copyright
    color #fff
    text-align center
    background #5a73ad

    &__text
        margin 0
        padding 10px 5px
        font-size 18px
        text-transform uppercase

.contacts-menu-nav
    &__list
        clearfix()
        list-unstyled()
    &__item
        width 33.333%
        float left
        margin 0 0 5px 0
    &__link
        font-size 15.5px
        text-transform uppercase
        empty-link()



@import "responsive/_1280.styl"
@import "responsive/_1140.styl"
@import "responsive/_1020.styl"
@import "responsive/_800.styl"