section.advantages#advantages
  .container
    h2.text-header.text-line-through.text-left.text-line-through--white
      span.
        Наши преимущества
    .advantages__inner
      .advantages__row.advantages__row--left
        .advantages__thumb.advantages__thumb-1
        .advantages__info
          p.advantages__header.
            Только качественные <br> материалы
          p.advantages__text.
            Мы стремимся к максимальному качеству производства на всех этапах!
            Поэтому к выбору материалов подходим особенно внимательно. Наши инженеры изучили технические характеристики материалов, учли внешние факторы - особенности нашего региона, - и предложили набор материалов для каждой группы бюджета. Вам остается просто выбрать группу: эконом, стандарт или премиум.
            Если Вы хотите сделать Ваш дом по комбинированной технологии, или заменить любую группу, проект для Вас мы просчитаем индивидуально.
      .advantages__row.advantages__row--right
        .advantages__thumb.advantages__thumb-2
        .advantages__info
          p.advantages__header.
            Наш главный ресурс - <br>
            наши специалисты!
          p.advantages__text.
            Мы заботимся о комфорте наших Заказчиков!
            За 10 лет работы наша компания собрала в своих стенах слаженную команду высококвалифицированных инженеров. Все имеют практический опыт производства строительных работ, поэтому могут предусмотреть любые сложности до их возникновения (усадка грунта, совместимость технологий строительства и др.).
            Наша цель - достичь максимального качества при минимальных сроках производства. Поэтому наши инженеру будут контролировать лично каждый этап производства.
      .advantages__row.advantages__row--left
        .advantages__thumb.advantages__thumb-3
        .advantages__info
          p.advantages__header.
            Организуем полномасштабную <br>
            работу на проекте
          p.advantages__text.
            Мы стремимся к максимальному качеству производства на всех этапах!
            Поэтому к выбору материалов подходим особенно внимательно. Наши инженеры изучили технические характеристики материалов, учли внешние факторы - особенности нашего региона, - и предложили набор материалов для каждой группы бюджета. Вам остается просто выбрать группу: эконом, стандарт или премиум.
            Если Вы хотите сделать Ваш дом по комбинированной технологии, или заменить любую группу, проект для Вас мы просчитаем индивидуально.
