include ../mixins/_default.pug
include ../_data.pug

section.calculator#calculator
  .container
    h2.text-header.text-line-through.text-left
      span.
        Калькулятор
    .calculator__inner

      .calculator-section.calculator-section--dimensions(stage="dimensions")
        +calculator-section-title('Параметры строения', 1)
        .calculator-section__inner
          .calculator-section__col-w-field
            label.calculator-section__label.
              Ширина <br>
              строения
            .input-wrapper.input-wrapper__symbol(data-symbol="м")
              input(name="wide" id="wide" state="wide" event="setIndex" event-type="change keyup").input-default
          .calculator-section__col-w-field
            label.calculator-section__label.
              Длина <br>
              строения
            .input-wrapper.input-wrapper__symbol(data-symbol="м")
              input(name="length" id="length" state="length" event="setIndex" event-type="change keyup").input-default
          .calculator-section__col-w-field
            label.calculator-section__label.
              Количество <br>
              этажей
            .input-wrapper.input-wrapper__counter
              input.input-default(name="floors", id="floors" state="floors" event="setIndex" event-type="change keyup")
              .input-wrapper-controls
                .input-wrapper-controls__up
                .input-wrapper-controls__down
          .calculator-section__col-w-field
            label.calculator-section__label.
              Количество <br>
              внутр. стен
            .input-wrapper.input-wrapper__symbol(data-symbol="м2")
              input(name="walls", id="walls" state="walls" disabled).input-default

          .calculator-section__col-w-field.calculator-section__col-w-field--mansard
            input(class="default-checkbox" type="checkbox" id="mansard" name="mansard")
            label.calculator-section__label(for="mansard") Мансарда
          .calculator-section__area-total-wrapper
            .calculator-section__area-total
              span.
                Общая <br>
                площадь:
              span.
                0
                <span>м<sup>2</sup></span>
          .calculator-section__col-w-field.calculator-section__col-w-field--remoteness
            label.calculator-section__label.
              Удаленность от <br>
              Краснодара:
            .input-wrapper.input-wrapper__symbol(data-symbol="км")
              input(name="remoteness", id="remoteness" state="remoteness" event="setIndex" event-type="change keyup").input-default

      .calculator-section.calculator-section--foundation.not-active(stage="foundation")
        +calculator-section-title('Выберите тип фундамента', 2)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(foundation, null, 'base', 'click', 'base')

      .calculator-section.calculator-section--external-walls.has-floors.not-active(stage="outerWalls")
        +calculator-section-title('Стены наружные', 3)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(outerWalls, 'setWithFloors', 'outerWalls')

      .calculator-section.calculator-section--inner-walls.has-floors.not-active(stage="innerWalls")
        +calculator-section-title('Стены внутренние', 4)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(innerWalls, 'setWithFloors', 'innerWalls')

      .calculator-section.calculator-section--overlapping.has-floors.not-active(stage="overlapping")
        +calculator-section-title('Перекрытия', 5)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(overlapping, 'setWithFloors', 'overlapping', null, 'base')

      .calculator-section.calculator-section--mansard.not-active.is-hidden
        +calculator-section-title('Мансардный этаж')
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(mansard, 'setMansardMaterial', 'mansard', null)
                  
      .calculator-section.calculator-section--roof.not-active(stage="roof")
        +calculator-section-title('Кровля', 6)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(roofs, null, 'roof')

      .calculator-section.calculator-section--networks.not-active(stage="networks" multiple)
        +calculator-section-title('Инженерные сети', 7)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(networks, null, 'networks')

      .calculator-section.calculator-section--facade.not-active(stage="facade")
        +calculator-section-title('Фасад', 8)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(facade, null, 'facade')

      .calculator-section.calculator-section--warming.not-active(stage="warming")
        +calculator-section-title('Утепление', 9)
        .calculator-section__inner
          .calculator-section__container
            .calculator-section__col
              .panel
                img(src="img/penopolisterol.png" alt="Утепление из пеннополистерола").panel__thumb
                p.panel__header.
                  Пенополистерол
                .calculator-section__chekboxes
                  .calculator-section__checkbox
                      input(type="checkbox" id="size-penopolisterol-1" state="warming_1" event="setWarming" event-type="change" material="у0022" name="size-penopolisterol-1").default-checkbox
                      label(for="size-penopolisterol-1") 50мм
                  .calculator-section__checkbox
                      input(type="checkbox" id="size-penopolisterol-2" state="warming_1" event="setWarming" event-type="change" material="у0023" name="size-penopolisterol-2").default-checkbox
                      label(for="size-penopolisterol-2") 100мм
                  .calculator-section__checkbox
                      input(type="checkbox" id="size-penopolisterol-3" state="warming_1" event="setWarming" event-type="change" material="у0024" name="size-penopolisterol-3").default-checkbox
                      label(for="size-penopolisterol-3") 150мм
            .calculator-section__col
              .panel
                img(src="img/eks-penopolisterol.png" alt="Утепление из экструдированного пенополистерола").panel__thumb
                p.panel__header.
                  Экструдированный <br>
                  пенополистерол
                .calculator-section__chekboxes
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-exs-penopolisterol-1" state="warming_2" event="setWarming" event-type="change" material="у0025" name="size-exs-penopolisterol-1").default-checkbox
                    label(for="size-exs-penopolisterol-1") 50мм
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-exs-penopolisterol-2" state="warming_2" event="setWarming" event-type="change" material="у0026" name="size-exs-penopolisterol-2").default-checkbox
                    label(for="size-exs-penopolisterol-2") 100мм
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-exs-penopolisterol-3" state="warming_2" event="setWarming" event-type="change" material="у0027" name="size-exs-penopolisterol-3").default-checkbox
                    label(for="size-exs-penopolisterol-3") 150мм
            .calculator-section__col
              .panel
                img(src="img/mineralnaya-vata.png" alt="Утепление из минеральной ваты").panel__thumb
                p.panel__header.
                  Минеральная вата
                .calculator-section__chekboxes
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-mineralnaya-vata-1" state="warming_3" event="setWarming" event-type="change" material="у0028" name="size-mineralnaya-vata-1").default-checkbox
                    label(for="size-mineralnaya-vata-1") 50мм
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-mineralnaya-vata-2" state="warming_3" event="setWarming" event-type="change" material="у0029" name="size-mineralnaya-vata-2").default-checkbox
                    label(for="size-mineralnaya-vata-2") 100мм
                  .calculator-section__checkbox
                    input(type="checkbox" id="size-mineralnaya-vata-3" state="warming_3" event="setWarming" event-type="change" material="у0030" name="size-mineralnaya-vata-3").default-checkbox
                    label(for="size-mineralnaya-vata-3") 150мм

      .calculator-section.calculator-section--windows.not-active(stage="windows")
        +calculator-section-title('Двери, окна, ворота', 10)
        .calculator-section__inner
          .calculator-section__container
            each col, index in windows
              .calculator-section__col
                .panel
                  img(src=`img/${col.img}` alt=`${col.alt}`).panel__thumb
                  p.panel__header.
                    !{col.header}
                  .input-wrapper.input-wrapper__symbol(data-symbol="шт")
                    input(state=`windows_${index + 1}` event-type=`keyup` event="setWindows" material=`${col.material}`).input-default
            //+calculator-section__col(windows, 'setWindow', 'windows', 'change keyup')
            +calculator-section__col(doors, null, 'doors')
            .calculator-section__col
              .panel.is-selectable(state="gate" event-type="click" material=`дов0046`)
                img(src="img/vorota.png" alt="Ворота").panel__thumb
                p.panel__header.
                  Ворота

      .calculator-section.calculator-section--siding.not-active
        +calculator-section-title('Отделка', 11)
        .calculator-section__inner
          .calculator-section__container
            +calculator-section__col(siding, null, 'siding')
        .calculator-section__inner.calculator-section__total
          p.calculator-section__main-label.
            Стоимость:
          span.calculator-section__total-price.
            0 руб.
          a(href="#")#btn-smeta.calculator-section__btn.btn.
            Получить смету