section.feedback#feedback
  .container
    h2.text-header.text-line-through.text-left
      span.
        Отзывы
    .feedback__inner
      .feedback__container
        - for(let i = 0; i < 6; i++)
          .feedback__col
            .feedback__col-inner
              .feedback__frame
                iframe(src="https://www.youtube.com/embed/cmylCUdW7OA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
              p.feedback__name.
                <span class="text-strong">Дмитрий</span>
                Предприниматель г.Краснодар