section.smeta#smeta
  .container
    .smeta__inner
      p.smeta__header.
        Смета БЕСПЛАТНО!
      p.smeta__description.
        Мы уверены, что предлагаем конкурентную цену, поэтому готовы БЕСПЛАТНО подготовить смету, по которой вы сможете сравнить другие предложения.
      form(action="php/mail.php" method="POST").smeta__form.js-send-form
        .input-group
          .input-w-name
            input(placeholder="Ваше имя" name="name" type="text").form-input
        .input-group
          .input-w-phone
            input(placeholder="Ваше телефон" name="phone" type="tel").form-input
        .input-group
          input(type="hidden" name="source" value="Форма - смета")
          button(type="submit").btn.btn--default.btn--letter.smeta__btn.
            Отправить