.gift-wrapper
  section.gift
    .container
      .gift__inner
        p.gift__header.
          Получите проект дома <br>
          <span class="text-strong">В подарок!</span>
        p.gift__subheader.
          <span>Заполните форму.</span> Оставьте ваше имя и номер <br> телефона - мы перезвоним в течение 5 минут.
        form.gift__form(action="php/mail.php" method="POST").js-send-form
          .input-group
            .input-w-name
              input(placeholder="Ваше имя" name="name" type="text" id="name").form-input
          .input-group
            .input-w-phone
              input(placeholder="Ваше телефон" name="phone" type="tel" id="phone").form-input
            input(type="hidden" name="source" value="Получите проект дома в подарок")
          .input-group
            button.btn.btn--letter.
              Отправить
