section.projects#projects
  .container
    h2.text-header.text-left.text-line-through.text-line-through--white
      span.
        Проекты домов
    .projects__inner
      iframe(src="http://frame.plans24.ru/s1732/" width="100%" frameborder="0" scrolling="no")
      script(src="js/iframe.js")
  //-     include ../components/_categories
  //-     .projects-filter
  //-       .projects-filter__col.projects-filter__area
  //-         p.projects-filter__label.
  //-           Площадь, м²
  //-         .panel
  //-           #project-slider
  //-       .projects-filter__col.projects-filter__floors
  //-         p.projects-filter__label.
  //-           Этажность
  //-         .panel
  //-           .panel__checkbox-row
  //-             input(type="checkbox" id="floor-1" name="floor-1").default-checkbox
  //-             label(for="floor-1") 1 этаж
  //-           .panel__checkbox-row
  //-             input(type="checkbox" id="floor-2" name="floor-21").default-checkbox
  //-             label(for="floor-2") 2 этаж
  //-       .projects-filter__col.projects-filter__bedrooms
  //-         p.projects-filter__label.
  //-           Количество спален
  //-         .panel
  //-           .panel__checkbox-row-wrapper
  //-             - for(let i = 1; i < 5; i++)
  //-               .panel__checkbox-row
  //-                 input(type="checkbox" id=`bedroom-count-${i}` name=`bedroom-count-${i}`).default-checkbox
  //-                 label(for=`bedroom-count-${i}`)=i
  //-             .panel__checkbox-row
  //-               input(type="checkbox" id=`bedroom-5` name=`bedroom-5`).default-checkbox
  //-               label(for=`bedroom-5`) 5+
  //-       -
  //-         let titles = ['Гараж', 'Балкон', 'Сауна', 'Котельная', 'Веранда', 'Терраса', 'Кладовая']
  //-         let names = ['garage', 'balcony', 'sauna', 'boiler_room', 'veranda', 'terrace', 'storage_room']
  //-       .projects-filter__col.projects-filter__features
  //-         p.projects-filter__label.
  //-           Особенности
  //-         .panel
  //-           .panel__checkbox-row-wrapper
  //-             - for(let i = 0; i < titles.length; i++)
  //-               .panel__checkbox-row
  //-                 input(type="checkbox" id=`project-${names[i]}` name=`project-${names[i]}`).default-checkbox
  //-                 label(for=`project-${names[i]}`)=titles[i]
  //-       .projects-filter__col
  //-         a.btn.projects-filter__btn.
  //-           Подобрать проект
  //-   .projects__container
  //-     - for(let i = 1; i < 7; i++)
  //-       - let ext = i == 1 ? '.png' : '.jpg'
  //-       a(href="#project-popup").js-open-popup
  //-         .project
  //-           .project__inner
  //-             .project__thumb(style=`background:url('img/project-image-${i}${ext}') center center no-repeat; background-size:cover`)
  //-             p.project__header.
  //-               Дом Вита К1 - 9х8 м
  //-             p.project__price.
  //-               Цена от <span class="text-strong text-highlight">995 000</span> рублей
  //-             .project__footer
  //-               .project__fields
  //-                 .project__field
  //-                   .project__field-icon.icon-area-1
  //-                   p.project__field-title.
  //-                     Общая площадь <br>
  //-                     <span class="text-highlight text-strong">78м²</span>
  //-                 .project__field
  //-                   .project__field-icon.icon-area-2
  //-                   p.project__field-title.
  //-                     Площадь застройки <br>
  //-                     <span class="text-highlight text-strong">78м²</span>
  //-                 .project__field
  //-                   .project__field-icon.icon-size
  //-                   p.project__field-title.
  //-                     Размеры <br>
  //-                     <span class="text-highlight text-strong">10х8м</span>
  //-                 .project__field
  //-                   .project__field-icon.icon-floors
  //-                   p.project__field-title.
  //-                     Этажей <br>
  //-                     <span class="text-highlight text-strong">1</span>
  //- include ../components/_pagination

