section.work-types#types
  .container
    h2.text-header.text-line-through.text-left
      span.
        Мы строим
    .work-types__inner
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Дома из кирпича
          .ui-col__thumb-wrapper
            .ui-col__thumb.work-types__thumb.work-types__thumb-1
          .ui-col__inner
            p.ui-col__text.
              Для строительства дома «на века» чаще всего приминяется каменный штучный материал разновидностью которого является кирпич!
              Многообразие выбора кирпича позволяет воплотить самые разные задумки архитектора, а классическое восприятие надежности забутовочного кирпича  совместно работающего с эфективными утеплителями позволит на протяжении столетия чувствовать себя за теплой каменной стеной!
            a(href="#callback-form" data-source="Посмотреть подробнее - Дома из кирпича").ui-col__btn.
              <span>Посмотреть</span> подробнее
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Дома из блока
          .ui-col__thumb-wrapper
            .ui-col__thumb.work-types__thumb.work-types__thumb-2
          .ui-col__inner
            p.ui-col__text.
              Современные технологии производства различных блоков позволяют формировать демократичную стоимость.
              Монтаж проходит быстро, что позволяет дополнительно экономить. Блок пористый, хорошо выберживает мороз, а пар пропускает не хуже дерева.
              Гладкая поверхность блока позволяет не использовать дополнительное выравнивание.
            a(href="#callback-form" data-source="Посмотреть подробнее - Дома из блока").ui-col__btn.
              <span>Посмотреть</span> подробнее
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Дома из СИП панелей
          .ui-col__thumb-wrapper
            .ui-col__thumb.work-types__thumb.work-types__thumb-3
          .ui-col__inner
            p.ui-col__text.
              Панельно-каркасные дома не монолитная постройка, срок строительства минимально возможный, дополнительно можно экономить на монолитном фундаменте.
              Строить можно даже зимой. Отлично подходит для тех кто хочет все и сразу.
            a(href="#callback-form" data-source="Посмотреть подробнее - Дома из СИП панелей").ui-col__btn.
              <span>Посмотреть</span> подробнее
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Комбинированные
          .ui-col__thumb-wrapper
            .ui-col__thumb.work-types__thumb.work-types__thumb-4
          .ui-col__inner
            p.ui-col__text.
              Мы сможем в процессе проектирования предложить решение, которое позволит Вам использовать максимальное количество положительных качеств перечисленных ранее техник и избежать их недостатков.
            a(href="#callback-form" data-source="Посмотреть подробнее - Комбинированные").ui-col__btn.
              <span>Посмотреть</span> подробнее
