section.works#works
  .container
    h2.text-header.text-line-through.text-line-through--white.text-left
      span.
        Работы и отзывы
    .works__inner
      include ../components/_categories
      - var headers = ['п. Яблоновский, ул. Дружбы', 'мкр. Немецкая деревня, ул. Баварская', 'мкр. Немецкая деревня, ул. Баварская']
      - var works = [1000, 1001, 1002];
      - var thumbPath = (id) => 'img/projects/' + id + '/1.jpg';

      .works__container
        - for(let i = 1; i < 4; i++)
          - let currentThumb = (i - 1) < works.length ? thumbPath(works[i - 1]) : `img/work-image-${i}.jpg`;
          a(href=`#work-popup-${i - 1 < 3 ? i : 1}`).js-open-popup
            .works__col
                .works__col-wrapper
                  .works__thumb(style=`background-image:url('${currentThumb}')`)
                  .works__col-overlay
                    .works__col-overlay-inner
                      .works__col-icon
                      p=`${i < headers.length + 1 ? headers[i - 1] : 'г. Краснодар, ул. Дежнёва 23'}`
                      .works__col-btn.
                        Открыть
