.default-checkbox:not(:checked),
.default-checkbox:checked
    position absolute
    left -9999px

.default-checkbox:not(:checked) + label,
.default-checkbox:checked + label
    position relative
    padding-left 1.95em
    cursor pointer
    &:hover
        &:before
            border-color darken($brandColor, 20)

.default-checkbox:not(:checked) + label:before,
.default-checkbox:checked + label:before
    content ''
    position absolute
    left 0
    top 0
    width 1.25em
    height 1.25em
    border 1px solid $brandColor
    background #fff
//box-shadow inset 0 1px 3px rgba(0,0,0,.1)

.default-checkbox:not(:checked) + label:after,
.default-checkbox:checked + label:after
    content ''
    position absolute
    left 0
    top 0
    width 1.25em
    height 1.25em
    border 1px solid #ff6c03
    background-color #fff
    background-image url(../img/icon-tick.svg)
    background-position center center
    background-size 9px 9px
    background-repeat no-repeat

.default-checkbox:not(:checked)
    & + label
        &:after
            opacity 0
            transform scale(0)

.default-checkbox:checked
    & + label
        &:after
            opacity 1
            transform scale(1)

.default-checkbox:disabled:not(:checked) + label:before,
.default-checkbox:disabled:checked + label:before
    box-shadow none
    border-color #bbb
    background-color #ddd

.default-checkbox:disabled
    &:checked
        & + label
            &:after
                color #999
    & + label
        color #aaa