$background = #fff
$width = 30px

.hamburger
    padding 15px 15px
    display inline-block
    cursor pointer
    transition-property opacity, filter
    transition-duration 0.15s
    transition-timing-function linear
    font inherit
    color inherit
    text-transform none
    background-color $background
    border 0
    margin 0
    overflow visible
    &:hover
        opacity 0.7
    &:focus
        outline 0

.hamburger-box
    width $width
    height 24px
    display inline-block
    position relative

.hamburger-inner
    display block
    top 50%
    margin-top -2px
    &::before
        top -10px
    &::after
        bottom -10px

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    width $width
    height 3px
    background-color #333
    border-radius 0
    position absolute
    transition-property transform
    transition-duration 0.15s
    transition-timing-function ease

.hamburger-inner::before, .hamburger-inner::after
    content ""
    display block

.hamburger--collapse
    .hamburger-inner
        top auto
        bottom 0
        transition-duration 0.15s
        transition-delay 0.15s
        transition-timing-function cubic-bezier(0.55, 0.055, 0.675, 0.19)
        &::after
            top -20px
            transition top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear
        &::before
            transition top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    &.is-active
        .hamburger-inner
            transform translate3d(0, -10px, 0) rotate(-45deg)
            transition-delay 0.32s
            transition-timing-function cubic-bezier(0.215, 0.61, 0.355, 1)
            &::after
                top 0
                opacity 0
                transition top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear
            &::before
                top 0
                transform rotate(-90deg)
                transition top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1)