$primary-nav-fs = 14px

.primary-nav
    &__list
        list-style-type none
        margin 0
        padding 0

    &__item
        display inline-block
        margin 0
        transition opacity .3s ease
        &:hover
            opacity .8
        &:not(:last-child)
            margin 0 40px 0 0
            position relative
            &:before
                content "\\\\"
                position absolute
                right -29px
                color #fff

    &__link
        text-decoration none
        color #fff
        text-transform uppercase
        font-size $primary-nav-fs
