/* ==========================================================================
   Social links
   ========================================================================== */

social-size = 35px
social-item-space = 0 4px
social-color = #7f6631

.social 
  margin 0
  list-style-type none
  padding 0

  &__item
    display inline-block
    vertical-align middle
    margin social-item-space

    &:first-child
        margin-left 0
    &:last-child
      margin-right 0

    &__link
      text-decoration none
      color social-color
  
    &__img
        font-size social-size
        text-decoration none
        transition color 0.3s ease
        &:hover
            opacity 0.6