-
    var foundation = [{
        'alt': 'Фундамент ленточный мелкозаглубленный',
        'material': 'ф0001',
        'header': 'Ленточный <br> мелкозаглубленный',
        'img': 'lentochniy-melkozaglublenniy.png'
    },
    {
        'alt': 'Фундамент ленточный заглубленный',
        'material': 'ф0002',
        'header': 'Ленточный <br> заглубленный',
        'img': 'lentochniy-zaglublenniy.png'
    },
    {
        'alt': 'Фундамент ростверк на буронабивных сваях',
        'material': 'ф0003',
        'header': 'Ростверк на <br> буронабивных сваях',
        'img': 'rostverk-na-buronabivnih-svayah.png'
    },
    {
        'alt': 'Плита железобетонная монолитная',
        'material': 'ф0004',
        'header': 'Плита железобетонная <br> монолитная',
        'img': 'plita-zelezobetonnaya-monolitnaya.png'
    },
    {
        'alt': 'Цокольный этаж',
        'material': 'ф0005',
        'header': 'Цокольный этаж <br> (подвал)',
        'img': 'cokolniy-etag.png'
    }];

    var outerWalls = [
    {
        'alt': 'Стены наружные из кирпича 250',
        'material': 'с0006',
        'header': 'Кирпич 250',
        'img': 'kirpich-250.png'
    },
    {
        'alt': 'Стены наружные из кирпича 380',
        'material': 'с0007',
        'header': 'Кирпич 380',
        'img': 'kirpich-380.png'
    },
    {
        'alt': 'Стены наружные по системе сэндвич',
        'material': 'с0008',
        'header': 'Каркасные по <br> системе сэндвич',
        'img': 'karkasnie-po-sisteme-sendvich.png'
    },
    {
        'alt': 'Стены наружные из газоселикатного блока',
        'material': 'с0009',
        'header': 'Блок <br> газоселикатный',
        'img': 'penoblock.png'
    },
    {
        'alt': 'Стены наружные монолитные железобетонные',
        'material': 'с0010',
        'header': 'Монолитные <br> железобетонные',
        'img': 'monolitnie-zelezobetonnie.png'
    },
    {
        'alt': 'Стены наружные из керамзито-бетонного блока',
        'material': 'с0011',
        'header': 'Керамзито-<br>бетонный блок',
        'img': 'keramzitno-betonny-block.png'
    }];

    var innerWalls = JSON.parse(JSON.stringify(outerWalls));
    innerWalls.splice(1, 1);

    for(var i = 0, material = 14; i < innerWalls.length; i++){
        if (material == 15) material = 16;
        innerWalls[i].material = 'с00' + material;
        material++;
    }

    var overlapping = [
        {
            'alt': 'Перекрытия из дерева',
            'base': 'п0031',
            'header': 'Деревянные',
            'img': 'derevyanniye.png'
        },
        {
            'alt': 'Перекрытия из сборного железобетона',
            'base': 'п0032',
            'header': 'Сборный <br> железобетон',
            'img': 'sborniy-zelezobeton.png'
        },
        {
            'alt': 'Перекрытия из монолитного железобетона',
            'material': 'п0033',
            'header': 'Монолитный <br> железобетон',
            'img': 'monolitniy-zelezobeton.png'
        }];

    var roofs = [
        {
            'alt': 'Кровля из гибкой черепицы',
            'material': 'к0047',
            'header': 'Гибкая черепица',
            'img': 'gibkaya-cherepica.png'
        },
        {
            'alt': 'Кровля из металлочерепицы',
            'material': 'к0048',
            'header': 'Металлочерепица',
            'img': 'metallocherepica.png'
        },
        {
            'alt': 'Кровля из керамической черепицы',
            'material': 'к0050',
            'header': 'Керамическая <br> черепица',
            'img': 'keramicheskaya-cherepica.png'
        },
        {
            'alt': 'Кровля из ондулина',
            'material': 'к0052',
            'header': 'Ондулин',
            'img': 'ondulin.png'
        },
        {
            'alt': 'Кровля из профлиста',
            'material': 'к0053',
            'header': 'Профлист',
            'img': 'prof-nastil.png'
        },
    ];

    var networks = [
        {
            'alt': 'Электрика',
            'material': 'и0054',
            'header': 'Электрика',
            'img': 'elektrika.png'
        },
        {
            'alt': 'Отопление, водоснабжение и канализация',
            'material': 'и0055',
            'header': 'Отопление, <br> водоснабжение <br> и канализация',
            'img': 'otopleniye.png'
        },
    ];

    var facade = [
        {
            'alt': 'Фасад из облицовочного кирпича',
            'material': 'о0035',
            'header': 'Облицовочный <br> кирпич',
            'img': 'oblicovochniy-kirpich.png'
        },
        {
            'alt': 'Фасад из декоративной штукатурки',
            'material': 'о0036',
            'header': 'Декоративная <br>штукатурка',
            'img': 'decorativnaya-shtukaturka.png'
        },
        {
            'alt': 'Фасад сайдинг',
            'material': 'о0037',
            'header': 'Сайдинг',
            'img': 'siding.png'
        }
    ];

    var windows = [{
            'alt': 'Окна металлопластиковые Эконом',
            'material': 'дов0043',
            'header': 'Окна металлопластиковые Эконом',
            'img': 'okna-econom.png'
        },
        {
            'alt': 'Окна металлопластиковые Стандарт',
            'material': 'дов0044',
            'header': 'Окна металлопластиковые Стандарт',
            'img': 'okna-standart.png'
        },
        {
            'alt': 'Окна металлопластиковые Премиум',
            'material': 'дов0045',
            'header': 'Окна металлопластиковые Премиум',
            'img': 'okna-premium.png'
        }
    ];

    var doors = [
        {
            'alt': 'Двери Дизайнерские',
            'material': 'дов0040',
            'header': 'Двери <br> Дизайнерские',
            'img': 'dveri-dizaynerskie.png'
        },
        {
            'alt': 'Двери стальные >= 1,5',
            'material': 'дов0038',
            'header': 'Двери <br>стальные &ge; 1,5',
            'img': 'dver-stalnie-bolshe-1-5.png'
        },
        {
            'alt': 'Двери стальные <= 1,5',
            'material': 'дов0039',
            'header': 'Двери <br> стальные &le; 1,5',
            'img': 'dver-stalnie-menshe-1-5.png'
        }
    ];

    var siding = [
        {
            'alt': 'Отделка эконом',
            'material': 'о0056',
            'header': 'Отделка эконом',
            'img': 'otdelka-econom.png'
        },
        {
            'alt': 'Отделка стандарт',
            'material': 'о0057',
            'header': 'Отделка стандарт',
            'img': 'otdelka-standart.png'
        },
        {
            'alt': 'Отделка премиум',
            'material': 'о0058',
            'header': 'Отделка премиум',
            'img': 'otdelka-premium.png'
        },
        {
            'alt': 'Без отделки',
            'material': 'о0000',
            'header': 'Без отделки',
            'img': 'bez-otdelki.png'
        }
    ];

    let mansard = [{
        'alt': 'Мансарда из дерева',
        'material': 'м0047',
        'header': 'Дерево',
        'img': 'derevo.png'   
    }]