extend common/_body.pug

block vars
  -
    let title       = 'Строительство домов и котеджей',
        description = '',
        phone = '+7 (988) 140-80-00',
        phoneHref = '+79881408000',
        keywords    = '',
        themeColor  = '#eff0f4';

block content
  include common/_content.pug