.site-categories
  ul.site-categories__list
    li.site-categories__item
      a(href="#cat-all").site-categories__link.is-active.
        Все
    li.site-categories__item
      a(href="#cat-1").site-categories__link.
        Дома из кирпича
    li.site-categories__item
      a(href="#cat-2").site-categories__link.
        Дома из блока
    li.site-categories__item
      a(href="#cat-3").site-categories__link.
        Комбинированные
    li.site-categories__item
      a(href="#cat-4").site-categories__link.
        Дома из сип панелей