nav.primary-nav
  .primary-nav-button
    button(class="hamburger hamburger--collapse js-nav-toggle")
      span.hamburger-box
        span.hamburger-inner
  ul.primary-nav__list
    -
      var menu = [{
        'title': 'Что мы строим',
        'link': '#types'
      },
      {
        'title': 'Наши преимущества',
        'link': '#advantages'
      },
      {
        'title': 'Проекты домов',
        'link': '#projects'
      },
      {
        'title': 'Калькулятор',
        'link': '#calculator'
      },
      {
        'title': 'Работы и отзывы',
        'link': '#works'
      },
      {
        'title': 'Контакты',
        'link': '#contacts'
      }]
    each link in menu
      li.primary-nav__item
        a(href=`${link.link}`).js-scroll-to.primary-nav__link=link.title