.pagination-wrapper
  .pagination
    ul.pagination__list
      - for(let i = 1; i < 5; i++)
        li.pagination__item
          a(href="#" class=`pagination__link ${i == 1 ? 'is-active' : ''}`)=i
      li.pagination__item
        a(href="#" class=`pagination__link`) >