.mfp-bg
    background #878fa3

.my-mfp-slide-bottom .zoom-anim-dialog
    opacity 0
    transition all 0.2s ease-out
    transform translateY(-20px) perspective( 600px ) rotateX( 10deg )

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
    opacity 1
    transform translateY(0) perspective( 600px ) rotateX( 0 )

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog
    opacity 0
    transform translateY(-10px) perspective( 600px ) rotateX( 10deg )

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg
    opacity 0
    transition opacity 0.3s ease-out

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg
    opacity 0.8
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg
    opacity 0

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg
    opacity 0
    transition all 0.3s ease-out


.mfp-with-zoom.mfp-ready .mfp-container
    opacity 1

.mfp-with-zoom.mfp-ready.mfp-bg
    opacity 0.8

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg
    opacity 0