$handleSize = 13px

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle
    right -7px
    left auto

.noUi-handle-lower
    .noUi-tooltip
        left 150%

.noUi-handle-upper
    .noUi-tooltip
        left -70%

.noUi-tooltip
    font-size 12px
    border 1px solid $brandColor
    border-radius 4px

    &:after,
    &:before
        content ''
        display block
        position absolute
        left 50%
        transform translateX(-50%)
        width 0
        height 0
        border-style solid

    $triangleWidth = 5px

    &:after
        bottom -8px
        border-color #fff transparent transparent transparent
        border-width $triangleWidth

    &:before
        bottom -10px
        border-color $brandColor transparent transparent  transparent
        border-width $triangleWidth

.noUi-connect
    background transparent

.noUi-handle
    border 0

.noUi-handle:before,
.noUi-handle:after
    display none

.noUi-horizontal
    .noUi-handle
        width $handleSize
        height $handleSize
        background $brandColor
        border-radius 100%
        left 0
        top 2px
        box-shadow none
        transition background 0.3s ease-in-out

        &:before
            content ''
            display block
            position absolute
            border-radius 100%
            height 5px
            width 5px
            left 4px
            top 4px
            background #fff

.noUi-horizontal
    height 15px
    background transparent
    border 0
    box-shadow none

    .noUi-handle-upper
        left -10px

    .noUi-handle
        &:hover
            cursor pointer
            background darken($brandColor,10)
        &:focus
            outline 0
            background lighten($brandColor,10)

.noUi-base
    height 15px
    background transparent
    position relative

    &:before
        content ''
        width 100%
        height 2px
        background $brandColor
        top 50%
        left 0
        -webkit-transform transformY(-50%)
        -ms-transform transformY(-50%)
        transform transformY(-50%)
        position absolute