// Scrollbars global style

.scrollbar-outer > .scroll-element .scroll-bar
    background #878fa3
    border-radius 0
    &:hover
        background darken(#878fa3, 10)
        cursor pointer

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track
    border-radius 0

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer
    width 10px