doctype html
html(lang="ru")
  head
    block vars
        - var title = ''
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="description" content=`${description}`)
    meta(name="theme-color" content=`${themeColor}`)
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="keywords" content=`${keywords}`)
    link(rel="apple-touch-icon", sizes="76x76", href="apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
    link(rel="mask-icon", href="safari-pinned-tab.svg", color="#ff6c03")
    meta(name="msapplication-TileColor", content="#ff6c03")
    meta(name="theme-color", content="#ff6c03")
    title= title
    ='\n'
    <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/4.0.1/placeholders.min.js")
    <![endif]-->
    ='\n'
    ='\n'
    <!--build:css css/style.min.css -->
    link(rel="stylesheet", href="libs/nouislider/distribute/nouislider.css")
    link(rel="stylesheet", href="libs/magnific-popup/dist/magnific-popup.css")
    link(rel="stylesheet", href="libs/jquery.scrollbar/jquery.scrollbar.css")
    link(rel="stylesheet", href="css/style.css")
    <!-- Yandex.Metrika counter -->
    script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48817022 = new Ya.Metrika({
                        id:48817022,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    noscript
        div
            img(src="https://mc.yandex.ru/watch/48817022" style="position:absolute; left:-9999px;" alt="")
    <!-- /Yandex.Metrika counter -->
    ='\n'
    <!-- endbuild -->
  body(class=`${(bodyClass || '')}`)
      block header
          include _header.pug
      block content
      block footer
          include _footer.pug
      block forms
          include ../components/_forms.pug
      block scripts
          ='\n'
          <!--build:js js/script.min.js -->
          script(src="libs/jquery/dist/jquery.js")
          script(src="libs/magnific-popup/dist/jquery.magnific-popup.js")
          script(src="libs/jquery.scrollbar/jquery.scrollbar.js")
          script(src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
          script(src="libs/handlebars/handlebars.min.js")

          script(src="js/calculator/utils.js")
          script(src="js/calculator/area-dependency.js")
          script(src="js/calculator/price.js")
          script(src="js/calculator/compability.js")
          script(src="js/calculator/app.js")
          script(src="js/calculator/index.js")
          script(src="js/calculator/tests.js")

          script(src="js/main.js")
          ='\n'
          <!-- endbuild -->

          script#smeta-template(type="text/x-handlebars-template").
            <div class="calc-table-popup">
                <div class="calc-table-popup__container">
                    <div class="text-right">
                        <a href="#" class="calc-table-popup__print-link">Скачать в формате Excel</a>
                    </div>
                    <div class="text-center">
                    <p>ООО <span class="text-strong">"ВИТА СТРОЙ"</span></p> 
                    <p>адрес сайта</p>
                    <p>№ тел., e-mail</p>
                    <p>
                        Россия, 350039, г. Краснодар, ул. Калинина, дом 1
                    </p>
                    <p class="text-strong">Предварительный просчёт стоимости строения.</p>
                </div>
                <div class="calc-table-popup__row">
                    <p>Дата: {{date}}</p>
                </div>

                <div class="calc-table-popup__row">
                    <p>Общая площадь строения: {{area}} м<sup>2</sup><p>
                    <p>Длина строения: {{wide}} м</p>
                    <p>Ширина строения: {{length}} м</p>
                </div>

                <div class="calc-table-popup__row">
                    <p>Количество этажей: {{floors}}</p>
                    {{#if mansard}}
                        <p>Тип мансарды: {{mansard}}</p>
                    {{/if}}
                    {{#if innerWalls}}
                        <p>Количество внутренних стен:</p>
                    {{/if}}
                </div>
                
                {{#if remoteness}}
                    <div class="calc-table-popup__row">
                        <p>Удаленность от Краснодара: {{remoteness}} км</p>
                    </div>
                {{/if}}

                <div class="calc-table-popup__table-wrapper">
                    <table>
                    <thead>
                        <tr>
                            {{#each headers}}
                                <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{# each data }}
                            {{#if (eq @key 'warming')}}
                                {{# each this.[1]}}
                                    {{#each this.price}}
                                        <tr>
                                            <td>Утепление</td>
                                            <td>{{../this.title}}</td>
                                            <td>{{this.[1]}}</td>
                                            <td>{{prettyNumber (floor this.[0])}} &#8381;</td>
                                        </tr>
                                    {{/each}}
                                {{/each}}
                            {{else if (eq @key 'windows')}}
                                {{# each this.[1]}}
                                    {{#if this.[1]}}
                                        <tr>
                                            <td>{{../this.[0]}}</td>
                                            <td>Окна металлопластиковые</td>
                                            <td>{{this.[0]}}</td>
                                            <td>{{prettyNumber (floor this.[1])}} &#8381;</td>
                                        </tr>
                                    {{/if}}
                                {{/each}}
                            {{else if (eq @key 'networks')}}
                                {{# each this.[1]}}
                                    <tr>
                                        <td>{{../this.[0]}}</td>
                                        <td>{{this.[0]}}</td>
                                        <td></td>
                                        <td>{{prettyNumber (floor this.[1])}} &#8381;</td>
                                    </tr>
                                {{/each}}
                            {{else}}
                                {{#if this.[1]}}
                                    <tr>
                                        <td>{{this.[0]}}</td>
                                        <td>{{this.[1]}}</td>
                                        <td>{{this.[3]}}</td>
                                        <td>{{prettyNumber (floor this.[2])}} &#8381;</td>
                                    </tr>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                        <td colspan="3" class="text-right">Итого: </td>
                        <td>{{prettyNumber (floor totalPrice)}} &#8381;</td>
                    </tbody>
                </table>
                </div>
                <p class="text-center text-strong">Проект Вашего дома мы сделаем Вам в подарок при обращение в течение 5 дней!</p>
                <p class="calc-table-popup__disclaimer">Предложение не является публичной офертой.</p>
                </div>
            </div>