include ../sections/_work-types
include ../sections/_advantages
include ../sections/_projects
include ../sections/_gift
include ../sections/_calculator
include ../sections/_form-smeta
include ../sections/_works
//include ../sections/_feedback