footer.site-footer#contacts
  .container
    .site-footer__inner
      h2.text-header.text-line-through.site-footer__header
        span.
          Недостаточно информации?
      .site-footer__left
        p.site-footer__subheader.
          Позвоните нам и получите:
        ul.site-footer__advantages
          li.
            Бесплатный проект дома
          li.
            Подробную смету вашего проекта
          li.
            Экскурсию по построенным объектам
      .site-footer__right
          p.site-footer__form-helper.
            Вы так же можете оставить нам свои контактные данные, и мы <br> свяжемся с Вами в ближайшее время.
          form(action="php/mail.php" method="POST").site-footer__form.default-form-horizontal.js-send-form
            .input-group
              .input-w-name
                input(placeholder="Ваше имя" name="name" type="text").form-input
            .input-group
              .input-w-phone
                input(placeholder="Ваше телефон" name="phone" type="tel").form-input
            .input-group
              .input-w-message
                textarea(placeholder="Ваше телефон" name="message").form-textarea
            input(type="hidden" name="source" value="Форма - футер")
            .input-group
              button.site-footer__btn.btn.btn--letter.
                Отправить
section.contacts
  .container
    .contacts__inner
      .contacts__left
        p.contacts__header.
          Контактные данные
        p.contacts__address.
          Калинина ул., д. 1, Краснодар,<br>  Краснодарский край, РФ, 350039
        .contacts__info
          a(href=`tel:${phoneHref}`).contacts__phone-link.empty-link=phone
          a(href="mailto:vitastroy@bk.ru").contacts__email-link.empty-link vitastroy@bk.ru
      .contacts__right
        p.contacts__header.
          Меню
        nav.contacts-menu-nav
          ul.contacts-menu-nav__list
            li.contacts-menu-nav__item
              a(href="#types").contacts-menu-nav__link.js-scroll-to.
                Что мы строим
            li.contacts-menu-nav__item
              a(href="#feedback").contacts-menu-nav__link.js-scroll-to.
                Отзывы
            li.contacts-menu-nav__item
              a(href="#projects").contacts-menu-nav__link.js-scroll-to.
                Проекты домов
            li.contacts-menu-nav__item
              a(href="#calculator").contacts-menu-nav__link.js-scroll-to.
                Калькулятор
            li.contacts-menu-nav__item
              a(href="#advantages").contacts-menu-nav__link.js-scroll-to.
                Наши преимущества
            li.contacts-menu-nav__item
              a(href="#contacts").contacts-menu-nav__link.js-scroll-to.
                Контакты

section.copyright
  p.copyright__text.
    Предложение не является публичной офертой

#callback-form.default-form.callback-form.zoom-anim-dialog.my-mfp-slide-bottom.mfp-hide
  .default-form__header
    p.default-form__text-header.js-form-header Обратный звонок
    .js-close-button.default-form__close-button
  .default-form__inner
    p.default-form__text Оставьте Ваши данные  и мы <br> перезвоним Вам в течение 5 минут
    form.js-send-form(action='php/mail.php', method='post')
      .input-group
        .input-w-name
          input#name-form.form-input(name='name', type='text' placeholder='Ваше имя')
      .input-group
        .input-w-phone
          input#phone-form.form-input(type='tel', name='phone', placeholder='Ваш телефон', required='required')
      .input-group
        button.btn.btn--default.default-form__button(type='submit')
          span Отправить

#work-popup-1.work-popup.single-popup.zoom-anim-dialog.my-mfp-slide-bottom.mfp-hide
  .single-popup__header
    p.single-popup__text-header.js-form-header <span>Дом на ул. Дружбы</span>
    .js-close-button.single-popup__close-button
  .single-popup__inner
    .single-popup__left
      a(href=`img/projects/1000/1.jpg`).has-open
        .single-popup__hero(style="background-image:url('img/projects/1000/1.jpg')")
      .single-popup__gallery
        .single-popup__gallery-inner
          - for(let i = 2; i <= 7; i++)
            .single-popup__gallery-item.popup-gallery
              a(href=`img/projects/1000/${i}.jpg`).single-popup__gallery-link.has-open
                .single-popup__gallery-thumb(style=`background-image:url('img/projects/1000/${i}.jpg')`)
    .single-popup__right
      p.single-popup__info-header.text-line-through.text-left
        span.
          Описание
      table.default-table.single-popup__table
        tr
          td.
            Площадь дома
          td.
            450 м²
        tr
          td.
            Фундамент
          td.
            Плита железобетонная монолитная
        tr
          td.
            Внешние стены
          td.
            Дагестансткий камень
        tr
          td.
            Внутренние стены
          td.
            Кирпич забутовочный
        tr
          td.
            Утепление
          td.
            Пенополистерол
        tr
          td.
            Внутренняя отделка
          td.
            Премиум
        tr
          td.
            Кровля
          td.
            Гибкая черепица
      .single-popup__info
        .single-popup__info
          .single-popup__info-right
            .single-popup__info-thumb.single-popup__info-thumb--time
            p.single-popup__info-title.
              Срок строительства
              <span class="text-highlight text-strong">6 мес.</span>
          .single-popup__info-left
            .single-popup__info-thumb.single-popup__info-thumb--price
            p.single-popup__info-title.
              Стоимость
              <span class="text-highlight text-strong">15 000 000 руб.</span>
      .box-w-image
        .box-w-image__thumb(style="background-image: url('img/buyer-image-default.jpg')")
        .box-w-image__textbox
          p.box-w-image__text
            span.box-w-image__title.text-highlight.text-strong.
              Заказчик
            span.box-w-image__name.text-strong.
              Владимир Владимирович
            span.box-w-image__company.
              Предприниматель
      p.single-popup__comment.
        Предпочитаю профессиональный подход во всем, особенно если говорить о собственном доме. Доверил строить свой дом компании "Вита-Строй", и не ошибся в выборе. Сделали очень качественно. материалы выбрали качественные: кирпич внутри, снаружи дагестанский камень. Строили по классической технологии. Внутренняя отдела премиум класса. Работать с сотрудниками фирмы было легко, все пожелания они технически грамотно притворили в жизнь.Отдельное спасибо дизайнерам, которые разработали проект. Так что такой дом стоит вложенного в него времени и средств. Ведь дом не дешевый, и жить в нем приятно.
    .single-popup__form
      .single-popup__form-inner
        p.single-popup__form-header.text-strong.
          Отправьте заявку
        p.single-popup__form-text.
          Если Вы заинтересовались этим или любым другим проектом дома, отправьте нам свои контактные данные, и мы свяжемся с Вами в ближайшее время.
        form(action="php/mail.php" method="post").js-send-form
          .single-popup__form-container
            .input-group
              .input-w-name
                input(placeholder="Ваше имя" name="name" type="text").form-input
            .input-group
              .input-w-phone
                input(placeholder="Ваше телефон" name="phone" type="tel").form-input
            input(type="hidden" name="source" value="Дом на ул. Дружбы")
            .input-group
              button.btn.btn--default Отправить

#work-popup-2.work-popup.single-popup.zoom-anim-dialog.my-mfp-slide-bottom.mfp-hide
  - var id = 1001;
  .single-popup__header
    p.single-popup__text-header <span>Дом на ул. Баварская</span>
    .js-close-button.single-popup__close-button
  .single-popup__inner
    .single-popup__left
      a(href=`img/projects/${id}/1.jpg`).has-open
        .single-popup__hero(style=`background-image:url('img/projects/${id}/1.jpg')`)
      .single-popup__gallery
        .single-popup__gallery-inner
          - for(let i = 2; i <= 7; i++)
            .single-popup__gallery-item.popup-gallery
              a(href=`img/projects/${id}/${i}.jpg`).single-popup__gallery-link.has-open
                .single-popup__gallery-thumb(style=`background-image:url('img/projects/${id}/${i}.jpg')`)
    .single-popup__right
      p.single-popup__info-header.text-line-through.text-left
        span.
          Описание
      table.default-table.single-popup__table
        tr
          td.
            Площадь дома
          td.
            220 м²
        tr
          td.
            Фундамент
          td.
            Ленточный заглублённый
        tr
          td.
            Внешние стены
          td.
            Кирпич облицовочный 120
        tr
          td.
            Внутренние стены
          td.
            Кирпич забутовочный
        tr
          td.
            Утепление
          td.
            Минераловатная плита Технониколь
        tr
          td.
            Внутренняя отделка
          td.
            Премиум
        tr
          td.
            Кровля
          td.
            Металочерепица
      .single-popup__info
        .single-popup__info
          .single-popup__info-right
            .single-popup__info-thumb.single-popup__info-thumb--time
            p.single-popup__info-title.
              Срок строительства
              <span class="text-highlight text-strong">6 мес.</span>
          .single-popup__info-left
            .single-popup__info-thumb.single-popup__info-thumb--price
            p.single-popup__info-title.
              Стоимость
              <span class="text-highlight text-strong">16 000 000 руб.</span>
      .box-w-image
        .box-w-image__thumb(style="background-image: url('img/buyer-image-default.jpg')")
        .box-w-image__textbox
          p.box-w-image__text
            span.box-w-image__title.text-highlight.text-strong.
              Заказчик
            span.box-w-image__name.text-strong.
              Денис Козленко
            span.box-w-image__company.
              Генеральный директор ООО "ДинСтрой"
      p.single-popup__comment.
        После получения земельного участка, я долго искал надежную строительную компанию. И мой выбор остановился на Вита-строй. Проконсультировался с специалистами на сайте, разузнал все, что меня интересовало. И заказал строительство. Они быстро приехали смотреть участок, рассказали, что в какие сроки будет делаться. И приступили. Я периодически следил за строительными работами. И за это время понял, что надуть меня даже не пытались. Выполнили все в указанный срок. Живем в доме уже несколько недель. Дом действительно хорошо построен, в нем тепло и уютно.
    .single-popup__form
      .single-popup__form-inner
        p.single-popup__form-header.text-strong.
          Отправьте заявку
        p.single-popup__form-text.
          Если Вы заинтересовались этим или любым другим проектом дома, отправьте нам свои контактные данные, и мы свяжемся с Вами в ближайшее время.
        form(action="php/mail.php" method="post").js-send-form
          .single-popup__form-container
            .input-group
              .input-w-name
                input(placeholder="Ваше имя" name="name" type="text").form-input
            .input-group
              .input-w-phone
                input(placeholder="Ваше телефон" name="phone" type="tel").form-input
            input(type="hidden" name="source" value="Дом на ул. Баварская (220 м2)")
            .input-group
              button.btn.btn--default Отправить

#work-popup-3.work-popup.single-popup.zoom-anim-dialog.my-mfp-slide-bottom.mfp-hide
  - var id = 1002;
  .single-popup__header
    p.single-popup__text-header <span>Дом на ул. Баварская</span>
    .js-close-button.single-popup__close-button
  .single-popup__inner
    .single-popup__left
      a(href=`img/projects/${id}/1.jpg`).has-open
        .single-popup__hero(style=`background-image:url('img/projects/${id}/1.jpg')`)
      .single-popup__gallery
        .single-popup__gallery-inner
          - for(let i = 2; i <= 7; i++)
            .single-popup__gallery-item.popup-gallery
              a(href=`img/projects/${id}/${i}.jpg`).single-popup__gallery-link.has-open
                .single-popup__gallery-thumb(style=`background-image:url('img/projects/${id}/${i}.jpg')`)
    .single-popup__right
      p.single-popup__info-header.text-line-through.text-left
        span.
          Описание
      table.default-table.single-popup__table
        tr
          td.
            Площадь дома
          td.
            350 м²
        tr
          td.
            Фундамент
          td.
            Ленточный заглублённый
        tr
          td.
            Внешние стены
          td.
            Кирпич облицовочный 120
        tr
          td.
            Внутренние стены
          td.
            Кирпич забутовочный
        tr
          td.
            Утепление
          td.
            Минераловатная плита Технониколь
        tr
          td.
            Внутренняя отделка
          td.
            Премиум
        tr
          td.
            Кровля
          td.
            Металочерепица мелкоштучная бельгийская
      .single-popup__info
        .single-popup__info
          .single-popup__info-right
            .single-popup__info-thumb.single-popup__info-thumb--time
            p.single-popup__info-title.
              Срок строительства
              <span class="text-highlight text-strong">1 год</span>
          .single-popup__info-left
            .single-popup__info-thumb.single-popup__info-thumb--price
            p.single-popup__info-title.
              Стоимость
              <span class="text-highlight text-strong">20 000 000 руб.</span>
      .box-w-image
        .box-w-image__thumb(style="background-image: url('img/buyer-image-default.jpg')")
        .box-w-image__textbox
          p.box-w-image__text
            span.box-w-image__title.text-highlight.text-strong.
              Заказчик
            span.box-w-image__name.text-strong.
              Максим Бачев
            span.box-w-image__company.
              Коммерческий директор ООО "Мир"
      p.single-popup__comment.
        Долго представлял себе каким именно должен быть дом, дом для большой семьи где всем комфортно и что бы выглядел он респектабельно. В итоге когда решил начать строить, выбрал на компанию "Вита-Строй". Мне понравилось то как быстро поняли что мне нужно и сделали проект в который мне пришлось внести лишь незначительные изменения. Мне предложили сделать дом только из качественных, устойчивых материалов, которые при этом имеют хороший внешний вид и достаточно долговечны. А я не вижу смысла экономить на качестве. Теперь я и моя семья довольны результатом, мы любим приглашать гостей и устраивать праздники дома.
    .single-popup__form
      .single-popup__form-inner
        p.single-popup__form-header.text-strong.
          Отправьте заявку
        p.single-popup__form-text.
          Если Вы заинтересовались этим или любым другим проектом дома, отправьте нам свои контактные данные, и мы свяжемся с Вами в ближайшее время.
        form(action="php/mail.php" method="post").js-send-form
          .single-popup__form-container
            .input-group
              .input-w-name
                input(placeholder="Ваше имя" name="name" type="text").form-input
            .input-group
              .input-w-phone
                input(placeholder="Ваше телефон" name="phone" type="tel").form-input
              input(type="hidden" name="source" value="Дом на ул. Баварская (350 м2)")
            .input-group
              button.btn.btn--default Отправить

#project-popup.project-popup.single-popup.zoom-anim-dialog.my-mfp-slide-bottom.mfp-hide
  .single-popup__header
    p.single-popup__text-header <span>Проект «ВИТА К1»</span>
    .js-close-button.single-popup__close-button
  .single-popup__inner
    .project-popup__scrollable.scrollbar-outer
      .single-popup__left
        a(href=`img/work-image-1.jpg`).has-open
          .single-popup__hero(style="background-image:url('img/work-image-1.jpg')")
        .single-popup__gallery
          .single-popup__gallery-inner
            - for(let i = 0; i < 6; i++)
              .single-popup__gallery-item.popup-gallery
                a(href=`img/work-image-${i+1}.jpg`).single-popup__gallery-link.has-open
                  .single-popup__gallery-thumb(style=`background-image:url('img/work-image-${i+1}.jpg')`)
      .single-popup__right
        p.single-popup__info-header.text-line-through.text-left
          span.
            Характеристики
        table.project-popup__table
          tr
            td
              img(src="img/icon-area-1.png" alt="Общая площадь")
              span.
                Общая площадь
                <span class="text-highlight text-strong">78м²</span>
            td
              img(src="img/icon-area.png" alt="Площадь застройки")
              span.
                Площадь застройки
                <span class="text-highlight text-strong">78м²</span>
          tr
            td
              img(src="img/icon-size.png" alt="Размеры")
              span.
                Размеры
                <span class="text-highlight text-strong">10х8м</span>
            td
              img(src="img/icon-floors.png" alt="Этажей")
              span.
                Этажей
                <span class="text-highlight text-strong">2</span>
          tr
            td
              img(src="img/icon-area-2.png" alt="Площадь первого этажа")
              span.
                Площадь 1-го этажа
                <span class="text-highlight text-strong">40м²</span>
            td
              img(src="img/icon-area-3.png" alt="Площадь второго этажа")
              span.
                Площадь 2-го этажа
                <span class="text-highlight text-strong">38м²</span>

        .single-popup__info
          .single-popup__info
            .single-popup__info-right
              .single-popup__info-thumb.single-popup__info-thumb--time
              p.single-popup__info-title.
                Срок строительства
                <span class="text-highlight text-strong">150 дней</span>
            .single-popup__info-left
              .single-popup__info-thumb.single-popup__info-thumb--price
              p.single-popup__info-title.
                Стоимость
                <span class="text-highlight text-strong">1 980 000 руб.</span>

        .project-popup__layouts
          .project-popup__layouts-inner
            .project-popup__layouts-left
              a(href="img/layout-1.jpg").project-popup__layouts-link.has-open-image
                .project-popup__layouts-thumb(style="background-image:url('img/layout-1.jpg')")
              p.project-popup__layouts-label.
                Планировка 1-го этажа
            .project-popup__layouts-right
              a(href="img/layout-2.png").project-popup__layouts-link.has-open-image
                .project-popup__layouts-thumb(style="background-image:url('img/layout-2.png')")
              p.project-popup__layouts-label.
                Планировка 2-го этажа
      table.project-popup__second-table
        thead
          tr
            td.
            td.
              Комплектация «Стандарт»
            td.
              Комплектация «Премиум»
        tbody
          tr
            td.
              ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ
            td(colspan="2").
              Альбом архитектурных и конструктивных чертежей
              Ситуационный план участка
              Подготовка комплекта документов для согласования в БТИ
          tr
            td.
              ПОДРЯДНЫЕ РАБОТЫ
            td(colspan="2").
              Выезд инженера на участок застройки до начала работ
              Доставка материалов, погрузочно-разгрузочные работы
              Все стрaоительно-монтажные работы
              Уборка территории по окончании строительства
          tr
            td.
              ПРОЕКТНАЯ ДОКУМЕНТАЦИЯ
            td(colspan="2").
              Альбом архитектурных и конструктивных чертежей
              Ситуационный план участка
              Подготовка комплекта документов для согласования в БТИ
          tr
            td.
              ПОДРЯДНЫЕ РАБОТЫ
            td(colspan="2").
              Выезд инженера на участок застройки до начала работ
              Доставка материалов, погрузочно-разгрузочные работы
              Все стрaоительно-монтажные работы
              Уборка территории по окончании строительства

    .single-popup__form
      .single-popup__form-inner
        p.single-popup__form-header.text-strong.
          Отправьте заявку
        p.single-popup__form-text.
          Если Вы заинтересовались этим или любым другим проектом дома, отправьте нам свои контактные данные, и мы свяжемся с Вами в ближайшее время.
        form(action="php/mail.php" method="post").js-send-form
          .single-popup__form-container
            .input-group
              .input-w-name
                input(placeholder="Ваше имя" name="name" type="text").form-input
            .input-group
              .input-w-phone
                input(placeholder="Ваше телефон" name="phone" type="tel").form-input
            .input-group
              button.btn.btn--default Отправить

#message-popup.message-popup.my-mfp-slide-bottom.zoom-anim-dialog.mfp-hide
  p.message-popup__header.
    Спасибо, ваша заявка
    уже рассматривается нами
  .js-close-button

#error-popup.message-popup.my-mfp-slide-bottom.zoom-anim-dialog.mfp-hide
  p.message-popup__header.
    Ошибка!
    Попробуйте позже.
  .js-close-button



