header.site-header
  .container
    .site-header__helmet
      .site-header__nav
        include ../components/_nav.pug
      .site-header__controls
        .phone-control
          a(href=`tel:${phoneHref}`).phone-control__phone.empty-link=phone
          a(href="#callback-form" data-source="Обратный звонок").phone-control__link.js-open-popup
            span.
              заказать обратный звонок
    .site-header__inner
      .site-header__textsection
        h1.h1
          | СТРОИТЕЛЬСТВО
          | <br> ДОМОВ и КОТЕДЖЕЙ
          | <span>Без переплат</span>
      .site-header__btn-wrapper
        a(href="#callback-form" data-title="Заказать" data-source="Заказать - первый экран").btn.btn--hero-btn.js-open-popup.
          <span>20 000 руб/м<sup>2</sup></span>
          <span>Заказать</span>
        span.
          В стоимость включены <br>
          Работы и материалы
section.site-sections
  .container
    .site-sections__row
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Проектирование домов
          .ui-col__thumb.site-sections__thumb-1
          .ui-col__inner
            p.ui-col__text.
              Мы производим комплексное проектирование!
              Посадка здания или сооружения на участке с учетом всех особенностей ландшафта, розы ветров, логистического и эстетического ориентирования. Ландшафтные проекты участков, озеленение. Архитектурные решения зданий от романского стиля до дигитальной архитектуры. Наши проектировщики способны воплотить Вашу мечту.
            a(href="#callback-form" data-source="Узнать подробнее - Проектирование домов").js-open-popup.ui-col__btn.
              Узнать подробнее
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Строительство домов
          .ui-col__thumb.site-sections__thumb-2
          .ui-col__inner
            p.ui-col__text.
              Мы предлагаем сориентироваться в огромном диапазоне строительства домов!
              Каждая технология обладает достоинствами и недостатками. Наша команда совместит технологии, чтобы Ваш дом стал самым удобным и функциональным.
              Мы построим для Вас не то, что можем, а то, что нужно.
            a(href="#callback-form" data-source="Узнать подробнее - Строительство домов").js-open-popup.ui-col__btn.
              Узнать подробнее
      .ui-col__wrapper
        .ui-col
          p.ui-col__title.
            Юридическое сопровождение
          .ui-col__thumb.site-sections__thumb-3
          .ui-col__inner
            p.ui-col__text.
              Для того, чтобы ничего не смогло омрачить впечатление о нашей инженерной работе, наши юристы будут сопровождать весь проект!
              Весь спектр кадастровых вопросов
              Получение мощностей
              Сдачи в эксплуатацию
              И любое другое множество Ваших сложностей возьмёт на себя наша команда юристов.
            a(href="#callback-form" data-source="Узнать подробнее - Юридическое сопровождение").js-open-popup.ui-col__btn.
              Узнать подробнее
section.about-us
  .container
    p.about-us__text.
      С 2007 года ООО "ВИТА СТРОЙ" зарекомендовала себя как стабильная, уверенно развивающаяся организация. <br>
      Мы строим по всему Краснодарскому краю сооружения любой сложности. Наряду с частным домостроительством мы успешно сотрудничаем на <br> протяжение долгого времени с крупнейшими производителями промышленных товаров и производителями услуг. Нашими клиентами (и <br> друзьями) стали: ООО «Кубань-Папир», ОАО «НИПИгазпереработка», ООО «Сельхозтехно», ООО «МедСтройИнжиниринг», ОАО <br> «Краснодатеплосеть», ООО «Завод пищевых продуктов» и некоторые государственные <br>
      службы и ведомства. <br>
      Вы могли посещать или видеть работы, выполненые нами на объектах: МУЗ Краевая больница № 2 «КМЛДО», ГБУЗ «Детская Краевая Клиническая Больница», Перинатальный центр, ГБУЗ «Геленджикского психоневрологического диспансера», МБУЗ <br> ГП №5, ГБУЗ КМЦ «Резерв», МБУЗ «Центральная районная больница» Усть-Лабинского района, МБДОУ МО г. Краснодар «Детский сад № 57», МДОУ «Детский сад № 39», многофункциональный спортивный комплекс "Чемпион", гостиницы игровых команд стадиона «Краснодар», автосалоны «Форд» и «Фиат» ООО «Темп Авто К», краснодарские филиалы ОАО «Локо Банк», КБ «Кубань Кредит», курортный комплекс «Надежда» в п. Кабардинка, рестораны «Бумбараш» на ул. Красной и ГК "Троя" на ул. 1 Мая.
section.numbers
  .container
    .numbers__col
      .numbers__col-inner
        .ui-circle.ui-circle
            span.ui-circle__digit.
              500
        .numbers__title-wrapper
          span.numbers__col-title.
            Более 500 счастливых семей!
    .numbers__col
      .numbers__col-inner
        .ui-circle.ui-circle
            span.ui-circle__digit.
              15
        .numbers__title-wrapper
          span.numbers__col-title.
            Дома в 15  районах <br>
            Краснодарского края
    .numbers__col
      .numbers__col-inner
        .ui-circle.ui-circle
            span.ui-circle__digit.
              10
        .numbers__title-wrapper
          span.numbers__col-title.
            лет безупречной работы!